@(Html.Kendo().Grid<ExecViewHrk.EfClient.DdlEmployeeType>()
                            .Name("gridDdlEmployeeType")
        .Resizable(resize => resize.Columns(true))
        .Filterable()
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("gridEditCommand").Text("<i class='fa fa-pencil txt-primary f-18'></i>").Click("gridEdit");
                command.Custom("gridDeleteCommand").Text("<i class='fa fa-trash-o m-0 txt-danger f-18'></i>").Click("gridDelete");
            });
            columns.Bound(c => c.Code);
            columns.Bound(c => c.Description);
            columns.Bound(c => c.Active).ClientTemplate("#= Active ? 'Yes' : 'No' #"); ;
        })
        .Sortable()
        .Selectable()
        .Pageable(pageable => pageable.Refresh(false).PageSizes(true))
        .Events(e => e.DataBound("gridDataBound"))
        .DataSource(dataSource => dataSource
            .Ajax()
                                                        .Read(read => read.Action("DdlEmployeeTypesList_Read", "DdlEmployeeTypes"))
                                                        .Create(create => create.Action("DdlEmployeeTypesList_Create", "DdlEmployeeTypes"))
                                                        .Update(update => update.Action("DdlEmployeeTypesList_Update", "DdlEmployeeTypes"))
                                                        .Destroy(destroy => destroy.Action("DdlEmployeeTypesList_Destroy", "DdlEmployeeTypes"))
            .Model(model =>
                    {
                        model.Id(p => p.EmployeeTypeId);
                        model.Field(p => p.EmployeeTypeId).Editable(false);
                        model.Field(p => p.Code);
                        model.Field(p => p.Description);
                        model.Field(p => p.Active);
                    }
                  )
            .Batch(false)
            .Events(events =>
            {
                events.Error("refreshGrid");
                events.RequestEnd("gridRequestEnd");
            })
        )
)

<script type="text/javascript">
    $(".k-grid-add").click(function () {
        setTimeout(function () {
            $('a[class*="k-grid-update"]').html('<span class="k-icon k-update"></span>Create');
        }, 1)
    });

</script>





