@{
    ViewBag.Title = "States List Maintenance";
    Layout = "~/Views/Shared/_MatrixBlockHeader2.cshtml";
}

@section TitleSectionOfHeader2
{
    <label>States List Maintenance</label>
}




@Html.Partial("DdlStatesPartial", "DdlStates")

