<div class="theme-grid">
    @(Html.Kendo().Grid<ExecViewHrk.EfClient.DdlProfessionalBody>()
                    .Name("gridDdlProfessionalBody")
        .Resizable(resize => resize.Columns(true))
        .Filterable()
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("gridEditCommand").Text("<i class='fa fa-pencil txt-primary f-18'></i>").Click("gridEdit");
                command.Custom("gridDeleteCommand").Text("<i class='fa fa-trash-o m-0 txt-danger f-18'></i>").Click("gridDelete");
            });
            columns.Bound(c => c.Code);
            columns.Bound(c => c.Description);
            columns.Bound(c => c.Active).ClientTemplate("#= Active ? 'Yes' : 'No' #");
            columns.Bound(c => c.WebAddress);
        })
        .Sortable()
        .Selectable()
        .Pageable(pageable => pageable.Refresh(false).PageSizes(true))
        .Events(e => e.DataBound("gridDataBound"))
        .DataSource(dataSource => dataSource
            .Ajax()
                                        .Read(read => read.Action("DdlProfessionalBodiesList_Read", "DdlProfessionalBodies"))
                                            .Create(create => create.Action("DdlProfessionalBodiesList_Create", "DdlProfessionalBodies"))
                                            .Update(update => update.Action("DdlProfessionalBodiesList_Update", "DdlProfessionalBodies"))
                                            .Destroy(destroy => destroy.Action("DdlProfessionalBodiesList_Destroy", "DdlProfessionalBodies"))
            .Model(model =>
                    {
                        model.Id(p => p.ProfessionalBodyId);
                        model.Field(p => p.ProfessionalBodyId).Editable(false);
                        model.Field(p => p.Code);
                        model.Field(p => p.Description);
                        model.Field(p => p.WebAddress);
                    }
                  )
            .Batch(false)
            .Events(events =>
            {
                events.Error("refreshGrid");
                events.RequestEnd("gridRequestEnd");
            })
        )
    )
</div>
<script type="text/javascript">
    $(".k-grid-add").click(function () {
        setTimeout(function () {
            $('a[class*="k-grid-update"]').html('<span class="k-icon k-update"></span>Create');
        }, 1)
    });
</script>



