*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/
/ExecViewHrk/ExecViewHrk.WebUI/bin/ExecViewHrk.Domain.dll
/ExecViewHrk/ExecViewHrk.WebUI/bin/ExecViewHrk.EfAdmin.dll
/ExecViewHrk/ExecViewHrk.WebUI/bin/ExecViewHrk.EfClient.dll
/ExecViewHrk/ExecViewHrk.WebUI/bin/ExecViewHrk.SqlData.dll
/ExecViewHrk/ExecViewHrk.WebUI/bin/ExecViewHrk.WebUI.dll

/DatabaseProject/ExecViewHrk.AdminDb/ExecViewHrk.AdminDb.dbmdl

/DatabaseProject/ExecViewHrk.ClientDb/ExecViewHrk.ClientDb.dbmdl

/ExecViewHrk/ExecViewHrk.Domain/bin/Debug/ExecViewHrk.Domain.dll
ExecViewHrk/ExecViewHrk.WebUI/Views/TimeCardMatrix/TimeCardsMatrixPartial.cshtml.orig
