<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.office365.com" password="Np739302*" port="587" userName="No-Reply@Resnav.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="execViewDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=DUBlankDB;Persist Security Info=False;User ID=piltdEast01;Password=foot!@Ball1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <appSettings>
    <add key="appRoot" value="D:\home\site\wwwroot" />
    <add key="ImportSubFolder" value="\FinancialAidJob\DownloadFile" />
    <add key="ImportLocationStaging" value="/Home/DrewUniversityStaging/AFR/" />
    <add key="ImportLocationProduction" value="/Home/DrewUniversity/AFR/" />
    <add key="fromAddress" value="No-Reply@Resnav.com" />
    <add key="toAddress" value="hitesh-nirmal@priyanet.com" />
    <add key="toAddressTwo" value="prerana-wadekar@priyanet.com" />
    <add key="toAddressThree" value="resnav-qa@priyanet.com,samirpatel@priyanet.com" />
    <add key="Hosting" value="Production" />
    <!-- Hosting Value Should be either Staging/Production -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>