body,body.revolution {
	font: 1.2em "ProximaNova", sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image:none;
	font-size: 16px;
}	

.revolution .revitAppContainer {
    background-color: transparent;
}


	.revolution .revitAppContainer {
		min-height: 100% !important;
	}
	.revolution .revitAppContainerContent {
		height: 100%;
	}
	.revolution .revitAppContainerContainer {
		height: 100%;
	}

div.revitAppContainerContainer{
	height: 100% !important;
}

.revolution .revitPortlet {
    height: 100% !important;
}

.revolution .revitForm {  
   	height: 90%;
   	overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
}
.revolution #saveButton {
    bottom: 40px;
    float: left;
    left: 0%;
    position: absolute;
}
.revolution .revitButton.primaryButton:not(.revitButtonDisabled):not(.revitButtonHideBackground){
	background-color: #1a8099;
}
.revolution .revitButton.primaryButton{
	font-size: 12px !important;
	padding: 11px 18px 10px 18px;
}
.revolution .revitButton.secondaryButton .dijitButtonText, .revolution .revitButton.primaryButton.secondaryButton .dijitButtonText{
	line-height: 14px !important
}
.revolution .revitButton.primaryButton .dijitButtonText{
	font-size: inherit !important;
}
.revolution #cancelButton {
	bottom: 0px;
	float: left;
	left: 0%;
	position: absolute;
}

.revolution #closeButton {
	display: none;
}

.revolution #nsaveButton,#submitButton {
    position: absolute;
    float: left;
    left: 50px;
    bottom: 90px;
}

.revolution #ncancelButton {
    float: left;
    left: 50px;
    position: absolute;
    bottom: 50px;
}

.revolution #ncloseButton {
	display: none;
}
.revolution .container {
	width: 100%;
	height: 100%;
	min-height: 500px;
	top: 0%;
	margin-top: 0px;
	overflow-y: hidden !important;
	background-color: rgba(255, 255, 255, 0.901961);
	border: 1px solid rgba(255, 255, 255, 0.6);
}

#appContainer {
	margin-left: 7%;
	margin-right: 7%;
}

div.content {
	height: 100%;
	align: center;
}

div#appContainer.revitAppContainer {
	height: 100%;
}

div.revitAppContainerContent {
	height: 100%;
	margin: auto;
}

div.dijitTitlePaneContentOuter {
	height: 90%;
}

div.revitPortletContent {
	height: 100%;
	padding-top: 0%;
	padding-left: 5px;
	padding-right: 0px;
	width: 100%;
}

div.dijitTitlePaneContentInner {
	height: 100%;
}

.revolution .form-field {
	display: inline-block;
	margin-right: 5px;
}

.revolution .form-group {
	margin-bottom: 3px;
}

.revolution div.revitTid3Error.revitTid3Large .revitTid3Icon i.fa.fa-exclamation-circle
	{
	color: white;
	display: inline-block;
}

.revolution .revitTid3Message {
	float: left;
}

.short-input .dijitTextBox {
	vertical-align: middle;
	width: 15em;
}

.middle-input {
	width: 15em;
}

.long-input {
	width: 15em;
}

.revolution #closeButton {
	float: left;
	padding-left: 0px;
	left: 7%;
}

.revitForm {
	padding-bottom: 10px;
	width: 100%;
}

.revolution .revitPortlet .revitPortletTitle {
	font-size: 21px;
	margin: 0px 0;
}

.revolution .revitTid3Large.revitTid3Error.revitTid3Closable .revitTid3Close
	{
	height: 10px;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 10px;
	z-index: 1000;
}

div#adplogo {
	display: none;
}

div.copyright {
	font-size: 0.5em;
}

.mobile-help {
	display: inline-block;
}

.desktop-help {
	display: none;
}

.requiredNote {
	float: right;
	color: #d40f0f;
	font-size: 14px;
	font-family: 'ProximaNova';
	padding-bottom: 10px;
	padding-top:5px;
}

.revitForm {
	padding: 10px 0px 0px 0px;
}

.revolution label,.revolution .label {
	border: 0 none;
	display: block;
	color: #6a6a6a;
	font-size: 14px;
	font-family: 'ProximaNova';
	font-weight: 600;
	margin-bottom: 3px;
	margin-top: 20px;
}

div.footer{
	position: fixed; 
	bottom: 0px; 
	left: 0px; 
	font-size: 0.85em;
	background-color: #ebebeb;
	width: 100%;
	height: 55px;
	padding-top:5px;
}

a.footer-item{
	margin-left:15px; 
}

div.copyright{
	float: left;
	color: black;
	margin-top: 5px;
    font-size: 0.85em;
    font-weight: normal;
}

.noTextTransform{
	text-transform:none;
}

.dialogBtn{
	margin-top: 10px !important;
	float: none;
	margin-left: 32% !important;
}
.dialogStyle{
	width: 100% !important;
	left: 0px !important;
}

.dijitDialogTitleBar.revitDialogError.dijitAlignTop{
	width : 100% !important;
	overflow-x : hidden !important;
	overflow-y : hidden !important;
}
.revolution .container .pageTopInlineSuccessDialog {
		margin: 0 0 0px;
		padding: 0px;
		background-color: #009900;
		color: white;
}
.revolution .revitTid3Large {
    margin: 0 0 10px;
    padding: 5px !important;
}

.revolution .revitDialog3 .dijitDialogPaneContent {
 	background-color: #ebebeb;
 	width: 100% !important;
 }


.revolution .revitDialog3 .dijitDialogTitleBar {
    font-size: 18px;
    font-weight: lighter;
    font-family: ProximaNova;
}

.revolution .dijitContentPane {
    font-size: 16px;
    font-family: ProximaNova;
}
.revolution .dijitDialogTitleBar{
	width: 100% !important;	
}

@media screen and (min-width: 480px) {
	body,body.revolution {
		font: ProximaNova, sans-serif;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	div.dijitTitlePaneContentOuter {
	    height: 80%;
	}
	.revolution .container {
		width: 555px;
		margin: auto;
		position: relative;
		height: 600px;
		margin-top: -16px;
		min-height: 550px;
		overflow-x: hidden;
		overflow-y: auto;
		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
	}
	
	
	.revolution #saveButton {
		bottom: 0px;
		float: right;
		right: 5px;
		left: auto;
		position: absolute;
	}
	.revolution #cancelButton {
		bottom: 0px;
		float: left;
		left: 5px;
		position: absolute;
	}
	.revolution #closeButton {
		display: none;
	}
	
	.revolution #nsaveButton,#submitButton {
		bottom: 30px;
		float: right;
		right: 50px;
		left: auto;
		position: absolute;
	}
	.revolution #ncancelButton {
		bottom: 30px;
		float: left;
		left: 50px;
		position: absolute;
	}
	.revolution #ncloseButton {
		display: none;
	}
	.revolution .revitTid3Large .revitTid3Message {
		font-size: 16px;
		margin: 15px 15px 15px 50px;
	}
	.revolution .form-field {
		display: inline-block;
		margin-right: 20px;
	}
	.revolution .end-form-field {
		margin-right: 0%;
	}
	.revolution .form-group {
		margin-top: 15px;
		margin-bottom: 5px;
		margin-right: 0px;
		margin-bottom: 5px;
	}
	.revolution .text-label {
		margin-top: 20px;
		margin-bottm: 30px;
		font-size: 20px;
	}
	.revolution .revitTooltip3Error {
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #d40f0f;
		color: white;
	}
	#appContainer {
		margin: 0px 50px 0px 50px;
	}
	.revolution .revitAppContainer {
		padding: 0%;
	}
	.revolution .revitPortlet {
		margin-bottom: 5px;
		padding-bottom: 5px;
		min-height: 100% !important;
	}
	.revolution .revitPortlet .revitPortletTitle {
		font-size:28px;
		margin: 15px 0;
		display: inline-block;
		font-weight: 200;
		color: #323232;
		font-family: 'ProximaNova';
	}
	.revolution .revitLoadingPortlet {
		background: transparent;
	}
	.revolution .revitPortlet .revitPortletOverlay {
		background: #ebebeb;
	}
	.revolution .dijitContentPane {
		padding: 0px 0px 5px;
		font-family: ProximaNova;
	}
	.phone-dial-code .dijitTextBox {
		vertical-align: middle;
		width: 10em;
	}
	.very-short-input {
		width: 4em;
	}
	.short-input .dijitTextBox {
		vertical-align: middle;
		width: 10em;
	}
	.long-input {
		width: 25em;
	}
	.middle-input {
		width: 20em;
	}

	.revolution .revitTid3Large .revitTid3Message {
		font-size: 14px;
	}
	.revolution .pageTopErrorDialog {
		margin: 0 0 0px;
		padding: 0px;
		background-color: #d40f0f;
		color: white;
	}
	
	.revolution .container .pageTopErrorDialog {
		margin: 0 0 0px;
		padding: 0px;
		background-color: #d40f0f;
		color: white;
	}
	
	.revolution .pageTopSuccessDialog {
		margin: 0 0 0px;
		padding: 0px;
		background-color: #51dc51;
		color: white;
	}
	
	.revolution .container .pageTopInlineSuccessDialog {
		margin: 0 0 0px;
		padding: 0px;
		background-color: #51dc51;
		color: white;
	}
	
	.revolution .formRadioValue {
		text-align: left;
		float: left;
		margin: 3%;
		padding: 2%;
	}
	.revolution .formRadioValueTemplate {
		text-align: left;
		float: left;
		margin: 5px 10px 5px 0px;
		padding: 0px;
	}
	.revolution .clear {
		clear: both;
		margin-bottom: 2%;
	}
	.revolution .revitButton3#successreturnID {
		float: right;
		position: absolute;
		bottom: 30px;
		right: 50px;
	}
	.revolution a {
		text-decoration: none;
		font-weight: 600;
		color: black;
		font-size: 14px !important;
		padding-top: 1px !important;
	}
	.revolution a:link {
		text-decoration: none;
	}
	.revolution a:visited {
		text-decoration: none;
	}
	.revolution a:hover {
		text-decoration: underline;
		color: #3ebede;
	}
	.revolution a:active {
		text-decoration: underline;
	}

	.revolution .revitTid3Large.revitTid3Error.revitTid3Closable .revitTid3Close
		{
		background: url("../../../public/images/icons/close50red.png") no-repeat
			scroll center center rgba(0, 0, 0, 0);
		cursor: pointer;
		height: 20px;
		position: absolute;
		right: 7px;
		top: 7px;
		width: 20px;
		z-index: 1000;
	}
	.revolution label,.revolution .label {
		margin-top: 10px;
	}
	div.revitTid3Message.dijitInline {
		width: 80% !important;
	}
	.revolution .revitTid3Large .revitTid3Icon {
		height: 32px;
		width: 32px;
		margin: 7px 5px 7px 20px;
	}
	.GlobalErrorContent {
		margin: 40px 20px 0px 20px;
	}
	.whole-page-content {
		margin: 20px 0px 15px 0px;
	}
	.information-icon-display {
		background-color: #fff;
		height: 220px;
		width: 300px;
		color: black;
		padding: 5px 5px 5px 5px;
	}
	.information-icon {
		float: right;
		margin: -3px 0px 2px 20px;
	}
	.revolution .radioBtnLabel {
		color: #323232;
		font-weight: normal;
		margin-right: 15px;
		font-family: "Arial";
		font-size: 1em;
	}

	.mobile-help {
		display: none;
	}
	.desktop-help {
		display: inline-block;
	}

	div.footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		background-color: #ebebeb;
		width: 100%;
		height: 30px;
		display: block;
		padding-bottom: 3px;
	}
	div.copyright {
		position: fixed;
		bottom: 6px;
		right: 10px;
		color: black;
		font-weight: 300;
		padding-bottom: 3px;
	}
	.revolution div.revitTid3Error.revitTid3Large .revitTid3Icon i.fa.fa-exclamation-circle
		{
		margin-left: -20px;
	}
	.revolution div.revitTid3Confirmation.revitTid3Large .revitTid3Icon i.fa.fa-check-circle
		{
		margin-left: -20px;
	}
	.dialogStyle{
		width: 500px !important;
		margin: auto !important;
		position: relative !important;
		top: 0% !important;
		height: auto !important;
		margin-top: -280px !important;
		overflow-x: hidden !important;
		overflow-y: hidden !important;
	}
	.dialogBtn{
		float: right;
	}
	
	.revolution .revitForm {  
	   	height: 90%;
	   	overflow-x: hidden;
	    overflow-y: hidden;
	    padding-bottom: 10px;
	}

}

@media screen and (min-height: 350px) and (min-width: 480px) {
	body,body.revolution {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
 	div#adplogo {
       color :#ffffff;     
        width: 75px;
        height: 75px;
        position: fixed;
        top: 8px;
        left: 25px;
        display: block;
    }

	
}

@media screen and (max-height: 349px){
	.revolution .container {
		width: 100%;
		height: 100%;
		min-height: 500px;
		top: 0%;
		margin-top: 0px;
		overflow-y: hidden !important;
		background-color: #ebebeb;
		border: 1px solid rgba(255, 255, 255, 0.6);
	}
}