<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.office365.com" password="Np739302*" port="587" userName="No-Reply@Resnav.com" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="execViewDb" connectionString="Server=webhris.priyanets.com;initial catalog=DUBlankDB_ForNewImport318New;User Id=hr; Password=hr; MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="appRoot" value="D:\home\site\wwwroot" />
    <add key="ImportSubFolder" value="\ImportNotification\DownloadFile" />
    <add key="ImportLocationStaging" value="/Home/DrewUniversityStaging/AFR/" />
    <add key="ImportLocationProduction" value="/Home/DrewUniversity/AFR/" />
    <add key="fromAddress" value="No-Reply@Resnav.com" />
    <add key="toAddress" value="rushayanth-reddy@priyanet.com" />
    <add key="toAddressTwo" value="salman-beg@priyanet.com" />
    <add key="toAddressThree" value="salman-beg@priyanet.com" />
    <add key="Hosting" value="Staging"/>
    <!-- Hosting Value Should be either Staging/Production -->
  </appSettings>
</configuration>