@model List<ExecViewHrk.Models.TimeReportVm>
<script>
    function GetReportList() {
        return {
            startDate: $("#txtStartDate").val(),
            endDate: $("#txtEndDate").val()
        }
    }

    function excelExport(e) {
        var sheet = e.workbook.sheets[0];
        for (var rowIndex = 1; rowIndex < sheet.rows.length; rowIndex++) {
            var sheet = e.workbook.sheets[0];
            for (var rowIndex = 1; rowIndex < sheet.rows.length; rowIndex++) {
                var row = sheet.rows[rowIndex];
                row.cells[4].format = "MM-dd-yy hh:mm:ss"
                row.cells[5].format = "MM-dd-yy hh:mm:ss"
                row.cells[6].format = "MM-dd-yy hh:mm:ss"
                row.cells[7].format = "MM-dd-yy hh:mm:ss"
                row.cells[8].format = "MM-dd-yy hh:mm:ss"
                row.cells[9].format = "#.00"
            }
        }
    }
</script>

<div class="row p-t-15">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-12 col-md-12 p-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="theme-grid">
                        @(Html.Kendo().Grid<ExecViewHrk.Models.TimeReportVm>()
                                    .Name("gridTimeReports")
                                    .Resizable(resize => resize.Columns(true))
                                    .Filterable()
                                    //.Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.Firstname).Title("First name").Width(70);
                                        columns.Bound(c => c.Lastname).Title("Last name").Width(90);
                                        columns.Bound(c => c.FileNumber).Title("File Number").Width(70);
                                        columns.Bound(c => c.PositionDescription).Title("Position Desc.").Width(190);
                                        columns.Bound(c => c.CompanyCodeDescription).Title("Company Code Description").Width(190);
                                        columns.Bound(c => c.ActualDate).Format("{0: MM/dd/yyyy}").Title("Actual Date").Width(90);
                                        columns.Bound(c => c.TimeIn).Format("{0: hh:mm tt}").Title("Time In").Width(80);
                                        columns.Bound(c => c.TimeOut).Format("{0: hh:mm tt}").Title("Time Out").Width(80);
                                        columns.Bound(c => c.LunchOut).Format("{0: hh:mm tt}").Title("Lunch Out").Width(80);
                                        columns.Bound(c => c.LunchBack).Format("{0: hh:mm tt}").Title("Lunch Back").Width(80);
                                        columns.Bound(c => c.DailyHours).Title("Total Hours").Width(300).Format("{0:n2}").Width(70);
                                        columns.Bound(c => c.CreatedBy).Width(0);
                                        columns.Bound(c => c.UserId).Title("Updated By").Width(120);
                                        columns.Bound(c => c.ApprovedBy).Width(0);
                                        columns.Bound(c => c.DisApprovedBy).Width(0);
                                        columns.Bound(c => c.DeletedBy).Width(0);
                                        columns.Bound(c => c.IsStudent).Title("Is Student").Width(100);
                                        columns.Bound(c => c.SSN).Title("SSN").Width(100);
                                        columns.Bound(c => c.HomeDepartmentCode).Title("Department Code").Width(100);
                                        columns.Bound(c => c.HomeDepartmentDescription).Title("Department Description").Width(100);
                                        columns.Bound(c => c.IsApproved).Title("Is Approved").ClientTemplate("#= IsApproved == true ? 'Yes' :'No'#").Width(100);
                                        columns.Bound(c => c.LastModifiedDate).Format("{0: MM/dd/yyyy h:mm:ss tt}").Title("Last Modified Date").Width(130);
                                        columns.Bound(c => c.ManagerName).Title("Manager Name").Width(130);
                                    })
                                    .ToolBar(tools => { tools.Excel(); })
                                    .Events(e => e.ExcelExport("excelExport"))
                                    .Sortable()
                                    .Excel(excel => excel.AllPages(true)
                                    .FileName("Time Report.xlsx")
                                    .Filterable(true))
                                    .Selectable()
                                    .Scrollable(a => a.Height(400))
                                    .Pageable(pageable => pageable.Refresh(false).PageSizes(true))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .Read(read => read.Action("_TimeReportList_Read", "TimeReport").Data("GetReportList"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.UserId);
                                        model.Id(p => p.Firstname);
                                        model.Id(p => p.Lastname);
                                        model.Id(p => p.EmployeeId);
                                        model.Id(p => p.ActualDate);
                                        model.Id(p => p.TimeIn);
                                        model.Id(p => p.TimeOut);
                                        model.Id(p => p.LunchOut);
                                        model.Id(p => p.LunchBack);
                                    }
                                    )
                                    .Batch(false)
                                    .Events(events =>
                                    {
                                        events.Error("refreshGrid");
                                        events.RequestEnd("gridRequestEnd");
                                    })
                                    )
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>