@using System.Web.Routing;
@{
    ViewBag.Title = "Person Employees";
    Layout = null;
}

@{
    string alert = "";

    if (ViewBag.AlertMessage != null)
    {
        alert = (string)ViewBag.AlertMessage;
    }
}
<div class="container-fluid">
    <div class="row p-t-15">
        <div class="col-lg-12 col-md-12">
            @Html.Action("EmployeeRoloDex", "Person")
            <div class="col-lg-12 col-md-12 p-0">
                <div class="card-block p-10 m-b-10 b-b-muted">
                    <div class="col-md-3 p-0">
                        <h4>
                            Employee
                        </h4>
                    </div>
                    <div class="col-md-9 p-0 text-right">
                        <button type="button" class="btn btn-primary waves-effect waves-light b-radius-2 text-tranform-normal myButton" onclick="addPersonEmployees(@Model.EmployeeId)">
                            <i class="fa fa-plus"></i><span class="m-l-10">Add New Employee</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        @Html.ValidationSummary(true)

                        <div class="theme-grid">
                            @(Html.Kendo().Grid<ExecViewHrk.Models.PersonEmployeeVm>()
                                    .Name("gridPersonTest")
                                    .Resizable(resize => resize.Columns(true))
                                    .Filterable()
                                    .Columns(columns =>
                                    {
                                        columns.Command(command =>
                                        {
                                            command.Custom("gridEditCommand").Text("<i class='fa fa-pencil txt-primary f-18'></i>").Click("gridPersonEmployeeMatrixEdit");
                                        }).Width(70);
                                        columns.Bound(c => c.EmployeeId).Visible(false);
                                        columns.Bound(c => c.EmploymentNumber).Title("Employment Number");
                                        columns.Bound(c => c.PersonId).Visible(false);
                                        columns.Bound(c => c.PersonName).Title("Employee Name");
                                        columns.Bound(c => c.CompanyCode).Title("Company Code");
                                        columns.Bound(c => c.HireDate).ClientTemplate("#= HireDate == null ? '' : kendo.toString(HireDate, \"MM/dd/yyyy\") #").Title("Start Date");
                                        columns.Bound(c => c.TerminationDate).ClientTemplate("#= TerminationDate == null ? '' : kendo.toString(TerminationDate, \"MM/dd/yyyy\") #").Title("End Date");
                                        columns.Bound(c => c.IsStudent).ClientTemplate("#= IsStudent == true ? 'Yes' :'No'#").Title("Is Student");
                                    })
                                    .Sortable()
                                    .Selectable()
                                    .Pageable(pageable => pageable.Refresh(true).PageSizes(true))
                                    .Events(e => e.DataBound("gridDataBound"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                                    .Read(read => read.Action("GetPersonEmployeesList", "PersonEmployees"))

                                                    .Model(model =>
                                                    {

                                                        model.Id(p => p.EmployeeId);
                                                        model.Id(p => p.PersonId);
                                                        model.Field(p => p.EmploymentNumber);
                                                        model.Field(p => p.PersonName);
                                                        model.Field(p => p.CompanyCode);
                                                        model.Field(p => p.HireDate);
                                                        model.Field(p => p.TerminationDate);
                                                        model.Field(p => p.IsStudent).Editable(false);
                                                    }
                                                )
                                                .PageSize(10)
                                        .Batch(false)
                                        .Events(events =>
                                        {
                                            events.Error("refreshGrid");
                                            events.RequestEnd("gridRequestEnd");
                                        })
                                    )
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  
    function newEmployeeWindow(title, onClose) {
        var obj = {
            width: "900px",
            height: "400px",
            position: { top: 300, left: 120 },
            title: title,
            actions: [
                "Maximize",
                "Close"
            ],
            scrollable: true,
            modal: true,
            close: onClose
        }
        return obj;
    };
    var employeeTypesWindow = $("#employeeTypesWindow");
    if (!employeeTypesWindow.data("kendoWindow")) {
        employeeTypesWindow.kendoWindow(
            newEmployeeWindow("Employee Types", onCloseEmployeeTypesWindow)
        );
    }

    function onCloseEmployeeTypesWindow() {
        resetKenoComboBox('EmployeeTypeDescription');
        resetGrid('gridDdlEmployeeType');
    }

    $("#btnAddEmployeeType").click(function (e) {
        e.preventDefault();
        var kendoWindow = $("#employeeTypesWindow").data("kendoWindow");
        $('.k-grid-cancel').click();
        kendoWindow.center();
        kendoWindow.open();
    });
    var employmentStatusesWindow = $("#employmentStatusesWindow");
    if (!employmentStatusesWindow.data("kendoWindow")) {
        employmentStatusesWindow.kendoWindow(
            newEmployeeWindow("Employment Statuses", onCloseEmploymentStatusesWindow)
        );
    }
    function onCloseEmploymentStatusesWindow() {
        resetKenoComboBox('EmploymentStatusDescription');
        resetGrid('gridDdlEmploymentStatus');
    }
    $("#btnAddEmployeeStatus").click(function (e) {
        e.preventDefault();
        var kendoWindow = $("#employmentStatusesWindow").data("kendoWindow");
        $('.k-grid-cancel').click();
        kendoWindow.center();
        kendoWindow.open();
    });
    var payFrequenciesWindow = $("#payFrequenciesWindow");
    if (!payFrequenciesWindow.data("kendoWindow")) {
        payFrequenciesWindow.kendoWindow(
            newEmployeeWindow("Pay Frequencies", onClosePayFrequenciesWindow)
        );
    }
    function onClosePayFrequenciesWindow() {
        resetKenoComboBox('PayFrequencyDescription');
        resetGrid('gridDdlPayFrequency');
    }
    $("#btnAddPayFrequency").click(function (e) {
        e.preventDefault();
        var kendoWindow = $("#payFrequenciesWindow").data("kendoWindow");
        $('.k-grid-cancel').click();
        kendoWindow.center();
        kendoWindow.open();
    });

    var maritalStatusesWindow = $("#maritalStatusesWindow");
    if (!maritalStatusesWindow.data("kendoWindow")) {
        maritalStatusesWindow.kendoWindow(
            newEmployeeWindow("Marital Statuses", onCloseMaritalStatusesWindow)
        );
    }
    function onCloseMaritalStatusesWindow() {
        resetKenoComboBox('Description');
        resetGrid('');
    }
    $("#btnAddMaritalStatus").click(function (e) {
        e.preventDefault();
        var kendoWindow = $("#maritalStatusesWindow").data("kendoWindow");
        $('.k-grid-cancel').click();
        kendoWindow.center();
        kendoWindow.open();
    });

    var workedStateTaxCodesWindow = $("#workedStateTaxCodesWindow");
    if (!workedStateTaxCodesWindow.data("kendoWindow")) {
        workedStateTaxCodesWindow.kendoWindow(
            newEmployeeWindow("Worked State Tax Code", onCloseWorkedStateTaxCodesWindow)
        );
    }
    function onCloseWorkedStateTaxCodesWindow() {
        resetKenoComboBox('StateTitle');
        resetGrid('gridDdlState');
    }

    $("#btnAddWorkedStateTaxCode").click(function (e) {
        e.preventDefault();
        var kendoWindow = $("#workedStateTaxCodesWindow").data("kendoWindow");
        $('.k-grid-cancel').click();
        kendoWindow.center();
        kendoWindow.open();
    });
    function onCloseMaritalStatusesWindow() {
        $("#HireDate").data("kendoComboBox").dataSource.read();
    }
</script>