
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center" style="background-color:#b71c1c; font-size:larger; color:white">  @*ee2f20*@
    <h2 style="margin-top:50px">About Us</h2>
</div>


<div class="panel-group" id="aboutus">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#aboutus" href="#LoginInfo">
                    Logging in
                </a>
            </h4>
        </div>
        <div id="LoginInfo" class="panel-collapse collapse in">
            <div class="panel-body">
                Available soon.
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#aboutus" href="#SectionInfo">
                    Explanation of each section
                </a>
            </h4>
        </div>
        <div id="SectionInfo" class="panel-collapse collapse">
            <div class="panel-body">
                Available soon.
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#aboutus" href="#LoginFailInfo">
                    What if you can’t log in?
                </a>
            </h4>
        </div>
        <div id="LoginFailInfo" class="panel-collapse collapse">
            <div class="panel-body">
                Available soon.
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#aboutus" href="#EnterInfo">
                    How to enter information?
                </a>
            </h4>
        </div>
        <div id="EnterInfo" class="panel-collapse collapse">
            <div class="panel-body">
                Available soon.
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#aboutus" href="#WorkFlowInfo">
                    How to use workflows?
                </a>
            </h4>
        </div>
        <div id="WorkFlowInfo" class="panel-collapse collapse">
            <div class="panel-body">
                Available soon.
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#aboutus" href="#TroubleshootInfo">
                    How to contact us for troubleshooting if needed?
                </a>
            </h4>
        </div>
        <div id="TroubleshootInfo" class="panel-collapse collapse">
            <div class="panel-body">
                Available soon.
            </div>
        </div>
    </div>
</div>


    @*<div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">Logging in</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Explanation of each section</div>
        </div>
    </div>*@



@*<div class="row">


    <div class="col-md-2" style="padding-top:15px; ">

    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>*@



