
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid p-b-0">
    <div class="row">
        <div class="col-md-12 p-0">
            <img src="~/assets/images/backimge.jpg" style="width:100%">
        </div>
        <div class="col-md-12 p-0">
            <div class="card card-inner-shadow m-b-0">
                <div class="card-header f-w-600 f-16 txt-theme text-center" style="font-size: 30px !important; color: #282e3c !important;">
                    Welcome to HR Next
                </div>
                @*<div class="card-block global-cards">
                        <br /><br /><br /><br /><br /><br />
                    </div>*@
            </div>
        </div>
    </div>
</div>



@*@if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }*@


