
ALTER PROCEDURE [dbo].[sp_GetReplaceWithSupervisors]

AS    
BEGIN

	Select 
		Persons.PersonId as ManagerPersonId
		,Persons.Firstname + ' '+ Persons.Lastname as ManagerPersonName
	from Managers
	inner join Persons on Managers.PersonId = Persons.PersonId
	where Persons.PersonId not in (Select ManagerPersonId from DesignatedSupervisors)
	order by ManagerPersonName
	
END