USE [DUBlankDB_ForNewImport318New]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDesignatedSupervisors]    Script Date: 5/18/2018 7:41:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetDesignatedSupervisors]
	@ManagerPersonId int,
	@IsHrkAdmin bit
AS    
BEGIN

	--declare @ManagerPersonId int = 1
	--declare @IsHrkAdmin bit = 1

	IF @IsHrkAdmin = 1
	BEGIN
		Select 
			Manager.PersonId as ManagerPersonId,
			Manager.Firstname + ' ' + Manager.Lastname as ManagerName,
			DesignatedManager.PersonId as NewManagerPersonId,
			DesignatedManager.Firstname + ' ' + DesignatedManager.Lastname as NewManagerPersonName,
			DesignatedSupervisors.CreatedBy as CreatedByUser,
			DesignatedSupervisors.CreatedDate as CreatedDate
		from DesignatedSupervisors
		inner join Persons Manager on Manager.PersonId = DesignatedSupervisors.ManagerPersonId
		inner join Persons DesignatedManager on DesignatedManager.PersonId = DesignatedSupervisors.DesignatedManagerPersonId
	END
	ELSE
	BEGIN
		Select 
			Manager.PersonId as ManagerPersonId,
			Manager.Firstname + ' ' + Manager.Lastname as ManagerName,
			DesignatedManager.PersonId as NewManagerPersonId,
			DesignatedManager.Firstname + ' ' + DesignatedManager.Lastname as NewManagerPersonName,
			DesignatedSupervisors.CreatedBy as CreatedByUser,
			DesignatedSupervisors.CreatedDate as CreatedDate
		from DesignatedSupervisors
		inner join Persons Manager on Manager.PersonId = DesignatedSupervisors.ManagerPersonId
		inner join Persons DesignatedManager on DesignatedManager.PersonId = DesignatedSupervisors.DesignatedManagerPersonId
		where DesignatedSupervisors.ManagerPersonId = @ManagerPersonId
	END


END