USE [DUBlankDB_ForNewImport318New]
GO
/****** Object:  StoredProcedure [dbo].[GetTimeReports]    Script Date: 9/10/2018 3:11:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
               
ALTER procedure [dbo].[GetTimeReports]          
@startdate datetime ,          
@enddate datetime          
as           
begin          
declare @ActualStartDate datetime;          
declare @Actualenddate datetime;          
set @ActualStartDate=(CONVERT(date, @startdate))          
set @Actualenddate=(CONVERT(date, @enddate))          
          
select emp.EmployeeId, per.Firstname, per.Lastname,per.eMail, emp.FileNumber, emp.IsStudent,per.SSN,          
tc.ActualDate, tc.TimeIn, tc.TimeOut,tc.LunchOut,tc.LunchBack, tc.IsApproved, tc.ApprovedBy, CreatedBy = ISNULL(tc.EnteredBy, tc.UserId), UserId = tc.UserId, tc.DeletedBy, tc.LastModifiedDate,ps.PositionDescription,DailyHours=isnull(tc.DailyHours,0),cc.CompanyCodeDescription,     
  
     
(select p.eMail from persons p           
inner join employees e on p.PersonId = e.PersonId          
where e.EmployeeId=eps.ReportstoID) as Supervisor,          
dp.DepartmentCode as HomeDepartmentCode,          
dp.DepartmentDescription as HomeDepartmentDescription,          
(pm.Firstname +' ' + pm.Lastname) AS ManagerName
          
from persons per          
inner join employees emp on per.personId = emp.personId          
inner join timecards tc on emp.employeeId = tc.employeeId          
inner join E_Positions eps on emp. employeeId = eps.EmployeeId and tc.PositionId = eps.PositionId          
inner join departments dp on dp.DepartmentId = eps.DepartmentId          
inner join Positions ps on ps.PositionId = eps.PositionId           
inner join persons pm on eps.ReportsToID =pm.PersonId 
inner join CompanyCodes cc on cc.CompanyCodeId=tc.CompanyCodeId          
where CONVERT(date,tc.ActualDate) >= @ActualStartDate and CONVERT(date,tc.ActualDate) <=@Actualenddate and tc.IsDeleted = 0
order by emp.employeeId, ActualDate          
end