
ALTER proc [dbo].[spGetPayPeriodDates] 
@StartDate datetime,
@EndDate datetime
as
begin
select StartDate,EndDate,PayFrequencyId,PayGroupCode 
from dbo.PayPeriods 
where (@StartDate>=StartDate and @StartDate<=EndDate)or(@EndDate>=StartDate and @EndDate<=EndDate)or(@StartDate<=EndDate and @EndDate>=StartDate) 
 and 
IsPayPeriodActive=1 and
IsDeleted != 'true'
end
