USE [DUBlankDB_ForNewImport318New]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTimeCardSummaryAdministratorReport]    Script Date: 4/3/2018 4:42:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
          
CREATE PROCEDURE [dbo].[sp_GetTimeCardSummaryAdministratorReport]
 @compCodeId int,                      
 @deptId int,                      
 @payPeriodId int
AS    
BEGIN     
select t.EmployeeId, sum(Isnull(t.DailyHours,0)) as RegularHours,  
       OverTime = case when (sum(Isnull(t.DailyHours,0)) + Sum(Isnull(t.Hours, 0))) > 80 Then              
							((sum(Isnull(t.DailyHours,0)) + Sum(Isnull(t.Hours, 0)))-80) else 0 end, 
							Sum(Isnull(t.Hours, 0)) as CodedHours, ta.Approved,
							(pr.Firstname+' '+pr.Lastname) as ManagerName  
from TimeCards t    
inner join Employees e on t.EmployeeId=e.EmployeeId    
inner join TimecardApprovals ta on e.EmployeeId=ta.EmployeeId    
inner join PayPeriods p on ta.PayPeriodId=p.PayPeriodId  
inner join E_Positions ep on ta.EmployeeId=ep.EmployeeId  
inner join Persons pr on ta.ManagerId = pr.eMail
where     
t.CompanyCodeId = p.CompanyCodeId and t.EmployeeId = e.EmployeeId 
                                  and ta.EmployeeId = t.EmployeeId 
								  and ta.EmployeeId = e.EmployeeId              
							      and p.PayPeriodId = ta.PayPeriodId 
								  and ta.Approved !=1 
								  and t.ActualDate between p.StartDate and p.EndDate 
								  and p.PayPeriodId = @payPeriodId     
And ep.DepartmentId = @deptId  
and t.CompanyCodeId = @compCodeId
and t.PositionId = ep.PositionId
group by t.EmployeeId,  ta.Approved, ep.DepartmentId,pr.Firstname,pr.Lastname
End

GO
