USE [DUBlankDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadEmpList]    Script Date: 2/19/2018 12:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
          
CREATE PROCEDURE [dbo].[sp_LoadEmpList]          
 @compCodeId int,          
 @deptId int,          
 @payPeriodId int    
 AS          
BEGIN           
select t.EmployeeiD as EmployeeId from Timecards t , Payperiods p, Employees e     
                            where t.CompanyCodeId = p.CompanyCodeId and t.ActualDate >= p.startdate and t.ActualDate <= p.enddate    
                            and t.CompanyCodeId = e.CompanyCodeId and t.EmployeeId = e.EmployeeId and e.DepartmentId = @deptId and t.CompanyCodeId = @compCodeId    
                            and p.PayPeriodId = @payPeriodId GROUP BY t.EmployeeId    
End
GO
