
go

if  exists (select 1 from sys.objects where object_id = object_id(N'dbo.uspPositionReportNoBudgetYear') and type in (N'P', N'PC'))
	drop procedure dbo.uspPositionReportNoBudgetYear
go

create procedure dbo.uspPositionReportNoBudgetYear
as 
/*
	Changes
	Date		Author		Ticket		Details
	20-Aug-18	Chandu		DU-2661		Add suffix to PositionCode and proc format changes
*/   
set nocount on;       
select 
	PositionCode = positions.PositionCode+isnull(positions.Suffix,'00'),
	positionTitle = positions.Title,    
	BuTitle = PositionBusinessLevels.BusinessLevelTitle, 
	BuCode = PositionBusinessLevels.BusinessLevelCode, 
	jobCode = jobs.JobCode, 
	JobTitle =jobs.title,
	EmployeeName = lastname+', '+ firstname,
	employees.CompanyCode, 
	employees.FileNumber, 
	[Status] = ddlEmploymentStatuses.code,
	E_Positions.PrimaryPosition, 
	E_Positions.StartDate, 
	E_Positions.actualEndDate,
	PayFrequencyCode = DdlPayFrequencies.Code, 
	E_Positions.EnteredDate, 
	epsh.PayRate, 
	epsh.EffectiveDate,
	epsh.AnnualSalary
from 
	dbo.Positions  
	inner join dbo.PositionBusinessLevels on PositionBusinessLevels.BusinessLevelNbr = positions.BusinessLevelNbr  
	inner join dbo.jobs on jobs.JobId = positions.jobID   
	inner join dbo.E_Positions on E_Positions.PositionId = Positions.PositionId  
	inner join dbo.Employees on employees.EmployeeId = E_Positions.EmployeeId  
	inner join dbo.Persons on persons.PersonId = employees.PersonId  
	left join dbo.ddlEmploymentStatuses on ddlEmploymentStatuses.EmploymentStatusId = employees.EmploymentStatusId  
	left join dbo.E_PositionSalaryHistories epsh on epsh.E_PositionId = E_Positions.E_PositionId 
	left join dbo.DdlPayFrequencies on DdlPayFrequencies.PayFrequencyId = Employees.PayFrequencyId
order by 
	Positions.Code  
