go

if exists (select 1 from sys.objects where object_id = object_id(N'dbo.uspOpenPositionReport') and type in (N'P', N'PC'))
drop procedure dbo.uspOpenPositionReport
go

create procedure dbo.uspOpenPositionReport
as
/*
	Changes
	Date		Author		Ticket		Details
	20-Aug-18	Chandu		DU-2661		Add suffix to PositionCode 
*/
set nocount on;   
DECLARE @Report TABLE  (PositionCode VARCHAR(20),PositionTitle VARCHAR(150), TotalSlots INT, SlotsFilled INT, SlotsLeft INT,Suffix char(2) )  

INSERT INTO @Report(PositionCode,PositionTitle,TotalSlots,SlotsFilled,SlotsLeft)  
SELECT PositionCode+isnull(Suffix,'00') ,PositionDescription ,
CASE WHEN TotalSlots IS NULL THEN 
(
(select Count(1) from E_Positions  join employees on employees.EmployeeId = E_Positions.EmployeeId   
join ddlEmploymentStatuses es on es.EmploymentStatusId = employees.EmploymentStatusId   
 where E_Positions.PositionId = Positions.PositionId and E_Positions.actualEndDate is null and es.Code = 'T' )
 +
 (select Count(1) from E_Positions  join employees on employees.EmployeeId = E_Positions.EmployeeId   
join ddlEmploymentStatuses es on es.EmploymentStatusId = employees.EmploymentStatusId   
 where E_Positions.PositionId = Positions.PositionId and E_Positions.actualEndDate is null and es.Code = 'A' )
) 
ELSE TotalSlots END AS TotalSlots, 
(select Count(1) from E_Positions  join employees on employees.EmployeeId = E_Positions.EmployeeId   
join ddlEmploymentStatuses es on es.EmploymentStatusId = employees.EmploymentStatusId   
 where E_Positions.PositionId = Positions.PositionId and E_Positions.actualEndDate is null and es.Code = 'A' ) as  SlotsFilled ,  
0 as SlotsLeft 
from positions ORDER BY Positions.Title  


SELECT PositionCode,PositionTitle,TotalSlots,SlotsFilled,
(TotalSlots-SlotsFilled)AS SlotsLeft
FROM @Report
go
