

Create procedure [dbo].[spGetExportPayperiodbyEPosition] 
@PayPeriodNumber int,
@PayGroupId int,
@StartDate varchar(20),
@EndDate varchar(20),
@CompanyCode Int
as
/*
Changes
	Date		Author		TicketNo	Details
	13-Mar-18	Chandu		DU-1029		Changes made for PayRateExport based on PayPeriodNumber
	15-Mar-18	Chandu		DU-1029		Mande changes for Regular Earning calc and TempCostNumber and Department
	27-Mar-18	Chandu		DU-1029		Filter with TimeCardApprovals based on Approved flag
	28-Mar-18	Chandu		DU-1029		Changes made for PayGroupCode 1 EPIP export structure
	29-Mar-18	Chandu		DU-1214		Changes made for Position Line Item wise EPIP export(Student/Employee)
	17-july-18  Hitesh      DU-2251     enhancement for  treaty and non treaty logic 
	04-sep-18   Hitesh                  enhancement for  epip
*/ 
declare 
	  @TempEPIPExport as table
	  (
	    EPIPId int identity(1,1) not null,
		CoCode varchar(50),
		BatchID char(3),
		FileNumber varchar(50),
		CancelPay char(1),
		[Pay #] varchar(20),
		[RegHours] varchar(20),
		[O/T Hours] varchar(20),
		[Hours3Code] varchar(20),
		[Hours3Amount] varchar(20),
		[Hours 4 Code] varchar(20),
		[Hours 4 Amount] varchar(20),
		[RegEarnings] varchar(20),
		[O/T Earnings] varchar(20),
		[Earnings3Code] varchar(20),
		[Earnings3Amount] varchar(20),
		[Earnings 4 Code] varchar(20),
		[Earnings 4 Amount] varchar(20),
		[Earnings 5 Code] varchar(20),
		[Earnings 5 Amount] varchar(20),
		[CostNumber] varchar(100),
		[Department] varchar(50),
		[TempRate] varchar(20),
		[MemoCode1] varchar(20),
		[MemoAmount1] varchar(20),
		[MemoCode2] varchar(20),
		[MemoAmount2] varchar(20),
		[EffectiveDate] datetime,
		[E_Positionid] int,
		[E_PositionSalaryHistoryId] int,
		[PayRate] decimal(18,2),		
		[ContractId] int 
	  )

	
update PayPeriods
set Isexported =1 where convert(varchar(20),PayPeriods.StartDate,112) =StartDate and convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
PayPeriods.PayGroupCode= @PayGroupId and			
PayPeriods.PayPeriodNumber=@PayPeriodNumber	  
		
---------------------------
		
declare @tempDateTable Table(
ID int identity (1,1),
ContractStartDate datetime,
ContractEndDate datetime,
ContractId int
)

INSERT INTO @tempDateTable 
		
select Contracts.StartDate ,
	   Contracts.EndDate ,
	   Contracts.Id  
	   from dbo.PayPeriods 
	   inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
	   inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
	   inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId
	   inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
	   inner join dbo.Contracts on Contracts.ePositionId = E_Positions.E_PositionId and  Contracts.PayPeriod >0
	   and (PayPeriods.StartDate>=Contracts.StartDate and PayPeriods.StartDate<=Contracts.EndDate or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate
	   or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate)
	   left join  dbo.DdlGLCodes  gl on gl.GLCodeId = Contracts.GLCodeId
	   left join  dbo.EarningsCodes  on  Contracts.EarningsCodeId = EarningsCodes.EarningsCodeId		
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
 		or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))

DECLARE @RID INT =1,@RCOUNT int=0;
set @RCOUNT=(select count(*) from @tempDateTable);
while @RCOUNT>=@RID
BEGIN
	declare  @ContractStartDate datetime, @ContractEndDate datetime
	declare  @ContractId int

	select   @ContractStartDate= ContractStartDate, @ContractEndDate = ContractEndDate ,
		  @ContractId =ContractId
	FROM 
		@tempDateTable
	WHERE 
		ID=@RID


	if not exists (select 1 from [ContractTrackingStatus] where 
								ContractStartDate =@ContractStartDate and 
								ContractEndDate= @ContractEndDate and 
								PayperiodNumber= @PayPeriodNumber and
								Paygroup= @PayGroupId and
								convert(varchar(20),[PayperiodStartDate],112)= @StartDate and
								convert(varchar(20),PayperiodEndDate,112)= @EndDate and
								ConractId= @ContractId )
	BEGIN
					
		  INSERT INTO [dbo].[ContractTrackingStatus]
							   ([ContractStartDate]
							   ,[ContractEndDate]
							   ,[PayperiodNumber]
							   ,[Paygroup]
							   ,[ExportedDate]
							   ,[Isexported]
							   ,[PayperiodStartDate]
							   ,[PayperiodEndDate]
							   ,[ConractId])     
							   (select
				   Contracts.StartDate as ContractStartDate,
				   Contracts.EndDate as ContractEndDate,		   		
				   @PayPeriodNumber as PayperiodNumber,
				   @PayGroupId as Paygroup,
				   getdate() as ExportedDate,
				   1 as Isexported ,
		   		   convert(date,@StartDate) as PayperiodStartDate,
				   convert(date,@EndDate) as PayperiodEndDate,			
				   Contracts.Id as ConractId
			from 
				dbo.PayPeriods 
				inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
				inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
				inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId
				inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
				inner join dbo.Contracts on Contracts.ePositionId = E_Positions.E_PositionId and  Contracts.PayPeriod >0
				and (PayPeriods.StartDate>=Contracts.StartDate and PayPeriods.StartDate<=Contracts.EndDate or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate
				 or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate)
				left join  dbo.DdlGLCodes  gl on gl.GLCodeId = Contracts.GLCodeId
				left join  dbo.EarningsCodes  on  Contracts.EarningsCodeId = EarningsCodes.EarningsCodeId		
			where 
				convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
				convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
				PayPeriods.PayGroupCode= @PayGroupId and
				PayPeriods.PayPeriodNumber=@PayPeriodNumber	
				and Employees.CompanyCodeId = @CompanyCode
				and ((Employees.TerminationDate is null)			
				or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))
				and  Contracts.StartDate =@ContractStartDate and 
				Contracts.endDate= @ContractEndDate and 								
				Contracts.Id= @ContractId 
				   )
		END
	SET @RID=@RID+1;
END
			

declare @tempDateTreaty Table(
ID int identity (1,1),
FileNumber int
) 

insert into @tempDateTreaty
select
			distinct	
			Employees.FileNumber			
		from 
			dbo.PayPeriods 
			inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
			inner join dbo.Positions po on po.PositionId = E_Positions.PositionId
			inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId and Employees.IsStudent=1
			inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
			inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null  
			inner join TimeCards tc on tc.EmployeeId = Employees.EmployeeId  and tc.IsApproved=1 and tc.IsDeleted <>1
			and convert(date,tc.TimeIn) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) 
			and convert(date,tc.[TimeOut]) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) and tc.PositionId=po.PositionId	
			--and convert(date,tc.TimeIn) between convert(date,eps.EffectiveDate)	and isnull(eps.enddate,convert(date,GetDate()))			
		where 
			convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
			convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
			PayPeriods.PayGroupCode= @PayGroupId and
			PayPeriods.PayPeriodNumber=@PayPeriodNumber
			and Employees.CompanyCodeId = @CompanyCode
			and ((Employees.TerminationDate is null)			
			or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))

--select * from @tempDateTreaty

DECLARE @RowID INT =1,@RowCOUNT int=0;
set @RowCOUNT=(select count(*) from @tempDateTreaty);
while @RowCOUNT>=@RowID
BEGIN
	declare  @FileNumber varchar(50)
	select   @FileNumber = FileNumber
	FROM 
		@tempDateTreaty
	WHERE 
		ID=@RowID

	if not exists (select 1 from TreatyNonTreatyTrackingStatus 	                           
							   where 							
								PayperiodNumber= @PayPeriodNumber and
								Paygroup= @PayGroupId and
								convert(varchar(20),[PayperiodStartDate],112)= @StartDate and
								convert(varchar(20),PayperiodEndDate,112)= @EndDate and
								FileNumber= @FileNumber and CompanyCodeId = @CompanyCode)
	BEGIN
					
		  INSERT INTO [dbo].TreatyNonTreatyTrackingStatus
							   ([PayperiodNumber]
							   ,[Paygroup]
							   ,[ExportedDate]
							   ,[Isexported]
							   ,[PayperiodStartDate]
							   ,[PayperiodEndDate]
							   ,[FileNumber]
							   ,[CompanyCodeId]
							   )     
							   (select				    		
							   @PayPeriodNumber as PayperiodNumber,
							   @PayGroupId as Paygroup,
							   getdate() as ExportedDate,
							   1 as Isexported ,
		   					   convert(date,@StartDate) as PayperiodStartDate,
							   convert(date,@EndDate) as PayperiodEndDate,			
							   @FileNumber as FileNumber,
							   @CompanyCode as CompanyCodeId
							   )							   
							   --- GenerateTreatyNonTreatyRows

							   declare  @PayperiodStartDate datetime,@PayperiodEndDate datetime,@result int
							        set @PayperiodStartDate=convert(date,@StartDate)
									set  @PayperiodEndDate = convert(date,@EndDate)
							   exec dbo.GenerateTreatyNonTreatysRow @FileNumber,@PayperiodStartDate,@PayperiodEndDate,@CompanyCode

							   --- update Isexported 
							   update TreatyNonTreatyTrackingStatus 
							   
							   set Isexported=1 where FileNumber=@FileNumber and CompanyCodeId = @CompanyCode 

	END
	SET @RowID=@RowID+1;
END


if(@PayGroupId=1)
begin
	insert into
			@TempEPIPExport
		select
			distinct	
			'CoCode'=CompanyCodes.CompanyCodeDescription,
			'BatchID'='RSI',
			'FileNumber'=Employees.FileNumber,
			'CancelPay' = '',
			'Pay #'='',			
		    'RegHours'= dbo.func_GetTotalDailyHours(po.PositionId,tc.EmployeeId,convert(date,PayPeriods.StartDate),convert(date,PayPeriods.EndDate),eps.E_PositionSalaryHistoryId,E_Positions.E_PositionId),		
			'O/T Hours'='',
			'Hours3Code'='',
			'Hours3Amount'='',
			'Hours 4 Code'='',
			'Hours 4 Amount'='',
			'RegEarnings'= '', 
			'O/T Earnings'='',
			'Earnings3Code'='',
			'Earnings3Amount'='',
			'Earnings 4 Code'='',
			'Earnings 4 Amount'='',
			'Earnings 5 Code'='',
			'Earnings 5 Amount'='',
			'CostNumber' = E_Positions.CostNumber,
			'Department' = '',
			'TempRate'= cast(round(isnull(eps.PayRate,0),2)as varchar(20)), 
			'MemoCode1'='',
			'MemoAmount1'= '',
			'MemoCode2'='',
			'MemoAmount2'= '',
			eps.EffectiveDate,
			E_Positions.E_PositionId,
			eps.E_PositionSalaryHistoryId,
			eps.PayRate,null
		from 
			dbo.PayPeriods 
			inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
			inner join dbo.Positions po on po.PositionId = E_Positions.PositionId
			inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId and Employees.IsStudent=1
			inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
			inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null 
			inner join TimeCards tc on tc.EmployeeId = Employees.EmployeeId  and tc.IsApproved=1 and tc.IsDeleted=0
			and convert(date,tc.TimeIn) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) 
			and convert(date,tc.[TimeOut]) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) and tc.PositionId=po.PositionId	
			and convert(date,tc.TimeIn) between convert(date,eps.EffectiveDate)	and isnull(eps.enddate,convert(date,GetDate()))			
		where 
			convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
			convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
			PayPeriods.PayGroupCode= @PayGroupId 
			and PayPeriods.PayPeriodNumber=@PayPeriodNumber  
			and Employees.CompanyCodeId = @CompanyCode
			and ((Employees.TerminationDate is null)			
			or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))
			--and ((isnull(Employees.TreatyLimit,0) =0) or (isnull(Employees.UsedAmount,0) >= isnull(Employees.TreatyLimit,0) ))
			and ((isnull(Employees.TreatyLimit,0) =0) or (isnull(Employees.UsedAmount,0)  >= 
			(case when (Employees.UsedAmount is not null) 
				then  isnull(Employees.TreatyLimit,0)
			else
			    0
			end)))			
		---------Contract Add 
		union 

		select
		distinct	
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'Pay #'='',
		'RegHours'='',
		'O/T Hours'='',
		'Hours 3 Code'= '',
		'Hours 3 Amount'= '',
		'Hours 4 Code'='',
		'Hours 4 Amount'='',
		'RegEarnings'= '', 
		'O/T Earnings'='',
		'Earnings3Code'= convert(varchar(20),EarningsCodes.EarningsCodeCode),
		'Earnings3Amount'= dbo.fn_GetEarningAmount(Contracts.Id,Contracts.StartDate,Contracts.EndDate,@PayGroupId),		
		'Earnings 4 Code'='',
		'Earnings 4 Amount'='',
		'Earnings 5 Code'='',
		'Earnings 5 Amount'='',
		'CostNumber' = Contracts.GLCode,
		'Department' = '',
		'TempRate'='',
		'MemoCode1'='',
		'MemoAmount1'= '',
		'MemoCode2'='',
		'MemoAmount2'= '',
		null,null,null,eps.PayRate,Contracts.id
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null 
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId 
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
	    inner join dbo.Contracts on Contracts.ePositionId = E_Positions.E_PositionId and  Contracts.PayPeriod >0
		and (PayPeriods.StartDate>=Contracts.StartDate and PayPeriods.StartDate<=Contracts.EndDate or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate
	     or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate)
		left join  dbo.DdlGLCodes  gl on gl.GLCodeId = Contracts.GLCodeId
		left join  dbo.EarningsCodes  on  Contracts.EarningsCodeId = EarningsCodes.EarningsCodeId
				
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and
		--E_Positions.EmployeeTypeId=1 and		
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
			or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))

			-------treaty amount export
		
		union 

		select
		distinct	
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'Pay #'='',
		'RegHours'='',
		'O/T Hours'='',
		'Hours3Code'= EarningsCodes.EarningsCodeCode,
		'Hours3Amount'= convert(varchar(20),TreatyAmountDetails.TreatyHours),
		'Hours 4 Code'='',
		'Hours 4 Amount'='',
		'RegEarnings'= '', 
		'O/T Earnings'='',
		'Earnings3Code'= '',
		'Earnings3Amount'= '',	
		'Earnings 4 Code'='',
		'Earnings 4 Amount'='',
		'Earnings 5 Code'='',
		'Earnings 5 Amount'='',
		'CostNumber' = E_Positions.CostNumber,
		'Department' = '',
		'TempRate'=cast(round(isnull(eps.PayRate,0),2)as varchar(20)),
		'MemoCode1'='',
		'MemoAmount1'= '',
		'MemoCode2'='',
		'MemoAmount2'= '',
		eps.EffectiveDate,
			E_Positions.E_PositionId,
			eps.E_PositionSalaryHistoryId,
			eps.PayRate,null
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId 
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null  
		inner join TimeCards tc on tc.EmployeeId = Employees.EmployeeId  and tc.IsApproved=1 and tc.IsDeleted <>1
		and convert(date,tc.TimeIn) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) 
			and convert(date,tc.[TimeOut]) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) and tc.PositionId=po.PositionId
	    inner join dbo.TreatyAmountDetails on TreatyAmountDetails.FileNumber = Employees.FileNumber and TreatyAmountDetails.e_positionid =E_Positions.E_PositionId and  (isnull(TreatyAmountDetails.TreatyHours,0)) <>0	
		 left outer join dbo.EarningsCodes  on  EarningsCodes.EarningsCodeId = Employees.EarningsCodeId			
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and		
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
		or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))		 
		 and convert(varchar(20),TreatyAmountDetails.PayperiodStartDate,112)=@StartDate 
		and convert(varchar(20),TreatyAmountDetails.payperiodEndDate,112)=@EndDate 
	    and (isnull(TreatyAmountDetails.TreatyHours,0)) <>0
		and convert(date,tc.TimeIn) between convert(date,eps.EffectiveDate)	and isnull(eps.enddate,convert(date,GetDate()))	
	   					
end

if(@PayGroupId=2)
begin
	if(@PayPeriodNumber>=1 and @PayPeriodNumber<=19)
    begin
	  insert into
		@TempEPIPExport
	select
		distinct		
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'Pay #'='',
		'RegHours'='',
		'O/T Hours'='',
		'Hours3Code'='',
		'Hours3Amount'='',
		'Hours 4 Code'='',
		'Hours 4 Amount'='',
		'RegEarnings'= '', 
		'O/T Earnings'='',
		'Earnings3Code'='',
		'Earnings3Amount'='',
		'Earnings 4 Code'='',
		'Earnings 4 Amount'='',
		'Earnings 5 Code'='',
		'Earnings 5 Amount'='',
		'CostNumber' = E_Positions.CostNumber,
		'Department' = '',
		'TempRate'='',
		'MemoCode1'='SAL',
		'MemoAmount1'= cast(round(isnull(eps.PayRate,0)*26/19,2) as varchar(20)),
		'MemoCode2'='DPA',
		'MemoAmount2'= cast(round((isnull(eps.PayRate,0)*26/19)-(isnull(eps.PayRate,0)),2) as varchar(20)),
		eps.EffectiveDate,
		E_Positions.E_PositionId,
		eps.E_PositionSalaryHistoryId,
		eps.PayRate,null
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId and Employees.IsStudent=0
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null and isnull(eps.enddate,GetDate())>=convert(date,GetDate())	
		inner join dbo.Departments dp on dp.DepartmentId=Employees.DepartmentId			
		and (
			(
				convert(date,eps.EffectiveDate) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.enddate) and
				isnull(eps.enddate,convert(date,GetDate())) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate)
			) 
			or
			(
				 eps.EffectiveDate <= PayPeriods.StartDate and 
				 isnull(eps.enddate,convert(date,GetDate())) >=  PayPeriods.enddate
			)
			or
			(
				eps.EffectiveDate <=  PayPeriods.StartDate and
				isnull(eps.enddate,convert(date,GetDate())) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate)
			)
			or
			(
				convert(date,eps.EffectiveDate) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.enddate) and
				isnull(eps.enddate,convert(date,GetDate())) >=  PayPeriods.enddate
			)
		)
		where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and
		E_Positions.EmployeeTypeId=1 and		
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
			or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))

		-----Contract Add 
		 union 

		select
		distinct	
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'Pay #'='',
		'RegHours'='',
		'O/T Hours'='',
		'Hours3Code'= '',
		'Hours3Amount'= '',
		'Hours 4 Code'='',
		'Hours 4 Amount'='',
		'RegEarnings'= '', 
		'O/T Earnings'='',
		'Earnings3Code'= convert(varchar(20),EarningsCodes.EarningsCodeCode),
		'Earnings3Amount'= dbo.fn_GetEarningAmount(Contracts.Id,Contracts.StartDate,Contracts.EndDate,@PayGroupId),	
		'Earnings 4 Code'='',
		'Earnings 4 Amount'='',
		'Earnings 5 Code'='',
		'Earnings 5 Amount'='',
		'CostNumber' = Contracts.GLCode,
		'Department' = '',
		'TempRate'='',
		'MemoCode1'='',
		'MemoAmount1'= '',
		'MemoCode2'='',
		'MemoAmount2'= '',
		eps.EffectiveDate,
		E_Positions.E_PositionId,
		eps.E_PositionSalaryHistoryId,
		eps.PayRate,Contracts.id
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null 
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId --and Employees.IsStudent=0
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
	    inner join dbo.Contracts on Contracts.ePositionId = E_Positions.E_PositionId and  Contracts.PayPeriod >0
		and (PayPeriods.StartDate>=Contracts.StartDate and PayPeriods.StartDate<=Contracts.EndDate or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate
	     or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate)		
		left join  dbo.DdlGLCodes  gl on gl.GLCodeId = Contracts.GLCodeId
		left join  dbo.EarningsCodes  on  Contracts.EarningsCodeId = EarningsCodes.EarningsCodeId
						
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and		
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
		or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))	
		

		-------treaty amount export
		
		union 

		select
		distinct	
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'Pay #'='',
		'RegHours'='',
		'O/T Hours'='',
		'Hours3Code'= EarningsCodes.EarningsCodeCode,
		'Hours3Amount'= convert(varchar(20),TreatyAmountDetails.TreatyHours),
		'Hours 4 Code'='',
		'Hours 4 Amount'='',
		'RegEarnings'= '', 
		'O/T Earnings'='',
		'Earnings3Code'= '',
		'Earnings3Amount'= '',	
		'Earnings 4 Code'='',
		'Earnings 4 Amount'='',
		'Earnings 5 Code'='',
		'Earnings 5 Amount'='',
		'CostNumber' = E_Positions.CostNumber,
		'Department' = '',
		'TempRate'=cast(round(isnull(eps.PayRate,0),2)as varchar(20)),
		'MemoCode1'='',
		'MemoAmount1'= '',
		'MemoCode2'='',
		'MemoAmount2'= '',
		eps.EffectiveDate,
			E_Positions.E_PositionId,
			eps.E_PositionSalaryHistoryId,
			eps.PayRate,null
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId 
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null  
		inner join TimeCards tc on tc.EmployeeId = Employees.EmployeeId  and tc.IsApproved=1 and tc.IsDeleted <>1
		and convert(date,tc.TimeIn) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) 
			and convert(date,tc.[TimeOut]) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) and tc.PositionId=po.PositionId
	    inner join dbo.TreatyAmountDetails on TreatyAmountDetails.FileNumber = Employees.FileNumber and TreatyAmountDetails.e_positionid =E_Positions.E_PositionId and  (isnull(TreatyAmountDetails.TreatyHours,0)) <>0			
		left outer join dbo.EarningsCodes  on  EarningsCodes.EarningsCodeId = Employees.EarningsCodeId	
			
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and		
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
		or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))		 
		 and convert(varchar(20),TreatyAmountDetails.PayperiodStartDate,112)=@StartDate 
		and convert(varchar(20),TreatyAmountDetails.payperiodEndDate,112)=@EndDate 
		 and (isnull(TreatyAmountDetails.TreatyHours,0)) <>0
	    
end
else if(@PayPeriodNumber>=20 and @PayPeriodNumber<=26)
begin
	insert into
		@TempEPIPExport
	select 	
		distinct
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'PayNumber'='',
		'RegHours'='',
		'OTHours'='',
		'Hours3Code'='',
		'Hours3Amount'='',
		'Hours4Code'='',
		'Hours4Amount'='',
		'RegEarnings'= '', 
		'OTEarnings'='',
		'Earnings3Code'='',
		'Earnings3Amount'='',
		'Earnings4Code'='',
		'Earnings4Amount'='',
		'Earnings5Code'='',
		'Earnings5Amount'='',
		'CostNumber' = E_Positions.CostNumber,
		'Department' ='',
		'TempRate'='',
		'MemoCode1'='',
		'MemoAmount1'='',
		'MemoCode2'= 'DPA',
		'MemoAmount2'= cast(-isnull(eps.PayRate,0) as varchar(20)),
		eps.EffectiveDate,
		E_Positions.E_PositionId,
		eps.E_PositionSalaryHistoryId,
		eps.PayRate,NULL
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId and Employees.IsStudent=0
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null and isnull(eps.enddate,GetDate())>=convert(date,GetDate())		
		inner join dbo.Departments dp on dp.DepartmentId=Employees.DepartmentId
		and (
			(
				convert(date,eps.EffectiveDate) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.enddate) and
				isnull(eps.enddate,convert(date,GetDate())) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate)
			) 
			or
			(
				 eps.EffectiveDate <= PayPeriods.StartDate and 
				 isnull(eps.enddate,convert(date,GetDate())) >=  PayPeriods.enddate
			)
			or
			(
				eps.EffectiveDate <=  PayPeriods.StartDate and
				isnull(eps.enddate,convert(date,GetDate())) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate)
			)
			or
			(
				convert(date,eps.EffectiveDate) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.enddate) and
				isnull(eps.enddate,convert(date,GetDate())) >=  PayPeriods.enddate
			)
		)	
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and
		E_Positions.EmployeeTypeId=1 and		
		PayPeriods.PayPeriodNumber=@PayPeriodNumber
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
		or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))
				
		union 
		select 
			distinct	
			'CoCode'=CompanyCodes.CompanyCodeDescription,
			'BatchID'='RSI',
			'FileNumber'=Employees.FileNumber,
			'CancelPay' = 'Y',
			'PayNumber'='',
			'RegHours'='',
			'OTHours'='',
			'Hours3Code'='',
			'Hours3Amount'='',
			'Hours4Code'='',
			'Hours4Amount'='',
			'RegEarnings'= '', 
			'OTEarnings'='',
			'Earnings3Code'='',
			'Earnings3Amount'='',
			'Earnings4Code'='',
			'Earnings4Amount'='',
			'Earnings5Code'='',
			'Earnings5Amount'='',
			'CostNumber' = E_Positions.CostNumber,
			'Department' = '',
			'TempRate'='',
			'MemoCode1'='',
			'MemoAmount1'='',
			'MemoCode2'= '',
			'MemoAmount2'= '' ,
			eps.EffectiveDate,
		E_Positions.E_PositionId,
		eps.E_PositionSalaryHistoryId,
		eps.PayRate,NULL
		from 
			dbo.PayPeriods 
			inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
			inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
			inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId and Employees.IsStudent=0
			inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
			inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null 	and isnull(eps.enddate,GetDate())>=convert(date,GetDate())
			inner join dbo.Departments dp on dp.DepartmentId=Employees.DepartmentId
			and (
			(
				convert(date,eps.EffectiveDate) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.enddate) and
				isnull(eps.enddate,convert(date,GetDate())) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate)
			) 
			or
			(
				 eps.EffectiveDate <= PayPeriods.StartDate and 
				 isnull(eps.enddate,convert(date,GetDate())) >=  PayPeriods.enddate
			)
			or
			(
				eps.EffectiveDate <=  PayPeriods.StartDate and
				isnull(eps.enddate,convert(date,GetDate())) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate)
			)
			or
			(
				convert(date,eps.EffectiveDate) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.enddate) and
				isnull(eps.enddate,convert(date,GetDate())) >=  PayPeriods.enddate
			)
		)			
	    	where 
			convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
			convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
			PayPeriods.PayGroupCode= @PayGroupId and
		    E_Positions.EmployeeTypeId=3 and		    
		    PayPeriods.PayPeriodNumber=@PayPeriodNumber
			and Employees.CompanyCodeId = @CompanyCode
			and ((Employees.TerminationDate is null)			
			or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))

			-----Contract Add 
		union 

		select
		distinct	
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'Pay #'='',
		'RegHours'='',
		'O/T Hours'='',
		'Hours3Code'= '',
		'Hours3Amount'= '',
		'Hours 4 Code'='',
		'Hours 4 Amount'='',
		'RegEarnings'= '', 
		'O/T Earnings'='',
		'Earnings3Code'= convert(varchar(20),EarningsCodes.EarningsCodeCode),
		'Earnings3Amount'= dbo.fn_GetEarningAmount(Contracts.Id,Contracts.StartDate,Contracts.EndDate,@PayGroupId),	
		'Earnings 4 Code'='',
		'Earnings 4 Amount'='',
		'Earnings 5 Code'='',
		'Earnings 5 Amount'='',
		'CostNumber' = Contracts.GLCode,
		'Department' = '',
		'TempRate'='',
		'MemoCode1'='',
		'MemoAmount1'= '',
		'MemoCode2'='',
		'MemoAmount2'= '',
		eps.EffectiveDate,
		E_Positions.E_PositionId,
		eps.E_PositionSalaryHistoryId,
		eps.PayRate,Contracts.id
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null  
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId --and Employees.IsStudent=0
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
	    inner join dbo.Contracts on Contracts.ePositionId = E_Positions.E_PositionId and  Contracts.PayPeriod >0
		and (PayPeriods.StartDate>=Contracts.StartDate and PayPeriods.StartDate<=Contracts.EndDate or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate
	     or PayPeriods.EndDate>=Contracts.StartDate and PayPeriods.EndDate<=Contracts.EndDate)
		left join  dbo.DdlGLCodes  gl on gl.GLCodeId = Contracts.GLCodeId
		left join  dbo.EarningsCodes  on  Contracts.EarningsCodeId = EarningsCodes.EarningsCodeId		
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
		or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))	
			
		
		-------treaty amount export
		
		union 

		select
		distinct	
		'CoCode'=CompanyCodes.CompanyCodeDescription,
		'BatchID'='RSI',
		'FileNumber'=Employees.FileNumber,
		'CancelPay' = '',
		'Pay #'='',
		'RegHours'='',
		'O/T Hours'='',
		'Hours3Code'= EarningsCodes.EarningsCodeCode,
		'Hours3Amount'= convert(varchar(20),TreatyAmountDetails.TreatyHours),
		'Hours 4 Code'='',
		'Hours 4 Amount'='',
		'RegEarnings'= '', 
		'O/T Earnings'='',
		'Earnings3Code'= '',
		'Earnings3Amount'= '',	
		'Earnings 4 Code'='',
		'Earnings 4 Amount'='',
		'Earnings 5 Code'='',
		'Earnings 5 Amount'='',
		'CostNumber' = E_Positions.CostNumber,
		'Department' = '',
		'TempRate'=cast(round(isnull(eps.PayRate,0),2)as varchar(20)),
		'MemoCode1'='',
		'MemoAmount1'= '',
		'MemoCode2'='',
		'MemoAmount2'= '',
		eps.EffectiveDate,
			E_Positions.E_PositionId,
			eps.E_PositionSalaryHistoryId,
			eps.PayRate,NULL
	from 
		dbo.PayPeriods 
		inner join dbo.E_Positions on PayPeriods.PayGroupCode=E_Positions.PayGroupId
		inner join dbo.Positions po on po.PositionId = E_Positions.PositionId		
		inner join dbo.Employees on E_Positions.EmployeeId=Employees.EmployeeId 
		inner join dbo.CompanyCodes on CompanyCodes.CompanyCodeId = Employees.CompanyCodeId
		inner join E_PositionSalaryHistories eps on eps.E_PositionId = E_Positions.E_PositionId and eps.EffectiveDate is not null  
		inner join TimeCards tc on tc.EmployeeId = Employees.EmployeeId  and tc.IsApproved=1 and tc.IsDeleted <>1
		and convert(date,tc.TimeIn) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) 
			and convert(date,tc.[TimeOut]) between convert(date,PayPeriods.StartDate) and convert(date,PayPeriods.EndDate) and tc.PositionId=po.PositionId
	    inner join dbo.TreatyAmountDetails on TreatyAmountDetails.FileNumber = Employees.FileNumber and TreatyAmountDetails.e_positionid =E_Positions.E_PositionId and  (isnull(TreatyAmountDetails.TreatyHours,0)) <>0	
		 left outer join dbo.EarningsCodes  on  EarningsCodes.EarningsCodeId = Employees.EarningsCodeId				
	where 
		convert(varchar(20),PayPeriods.StartDate,112)=@StartDate and
		convert(varchar(20),PayPeriods.EndDate,112)=@EndDate and
		PayPeriods.PayGroupCode= @PayGroupId and		
		PayPeriods.PayPeriodNumber=@PayPeriodNumber	
		and Employees.CompanyCodeId = @CompanyCode
		and ((Employees.TerminationDate is null)			
		or (convert(date,Employees.TerminationDate) >=convert(varchar(20),PayPeriods.StartDate,112)))		 
		 and convert(varchar(20),TreatyAmountDetails.PayperiodStartDate,112)=@StartDate 
		and convert(varchar(20),TreatyAmountDetails.payperiodEndDate,112)=@EndDate 
		 and (isnull(TreatyAmountDetails.TreatyHours,0)) <>0   
	  
 end
end

if(@PayGroupId=1)
begin
	;WITH CTE AS(select row_NUMBER()over(partition by FileNumber,E_PositionId,temprATE,E_PositionSalaryHistoryId,ContractId order by EffectiveDate desc) as rn,
* from @TempEPIPExport)

select * from CTE where rn=1 and RegHours is not null order by FileNumber, EPIPId desc
end
else
begin
	--select * from @TempEPIPExport order by FileNumber, EPIPId desc

	--;with cte as (select EPIPId,CoCode,BatchID,FileNumber,CancelPay,[Pay #],RegHours,[O/T Hours],Hours3Code,Hours3Amount,[Hours 4 Code],[Hours 4 Amount],RegEarnings,[O/T Earnings],Earnings3Code,Earnings3Amount,[Earnings 4 Code],[Earnings 4 Amount],[Earnings 5 Code],[Earnings 5 Amount],CostNumber,Department,TempRate,MemoCode1,MemoAmount1,MemoCode2,MemoAmount2,ROW_NUMBER() OVER(Partition by Payrate ORDER BY Effectivedate desc) as rn from @TempEPIPExport) 		
	;with cte as (select ROW_NUMBER() OVER(Partition by E_PositionId ORDER BY Effectivedate desc) as rn, *from @TempEPIPExport) 		

	select * from cte where rn=1 order by FileNumber, EPIPId desc
end