/****** Object:  StoredProcedure [dbo].[spInsertTimeCardArchiveData]    Script Date: 10/7/2019 1:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[spInsertTimeCardArchiveData]
@TimeCardArchieveData dbo.DtoTimeCardArchieveData readonly
as
set nocount on;
declare @Count int=1,@RowCount int,@TimeCardId int,@TimeCardsNotesId int, @UpdateCount int =0
declare @TempTimeCardArchieveData as table
(
	RNo int identity primary key,
	TimeCardId int,
	EmployeeId int 
)
insert into @TempTimeCardArchieveData
select TimeCardId,EmployeeId from @TimeCardArchieveData

select @RowCount = count(1) from @TempTimeCardArchieveData
begin transaction
begin try
	while(@Count<=@RowCount)
	begin
		select @TimeCardId = TimeCardId from @TempTimeCardArchieveData where RNo = @Count
		select @TimeCardsNotesId =(select top 1 TimeCardsNotesId from dbo.TimeCardNotes where TimeCardId=@TimeCardId)
	
		insert into TimeCardNotesArchive(CompanyCodeId,EmployeeId,FileNumber,ActualDate,Notes,TimeCardId)
		select CompanyCodeId,EmployeeId,FileNumber,ActualDate,Notes,TimeCardId from dbo.TimeCardNotes where TimeCardId=@TimeCardId
		if(@UpdateCount=0)
		begin
			select @UpdateCount = scope_identity()
		end
		delete dbo.TimeCardNotes where TimeCardsNotesId=@TimeCardsNotesId

		insert into dbo.TimeCardsArchives(CompanyCodeId,FileNumber,ActualDate,ProjectNumber,DailyHours,TimeIn,LunchOut,LunchBack,TimeOut,
		HoursCodeId,Hours,HoursCodeReasonId,EarningsCodeId,EarningsAmount,DepartmentId,JobId,TempJobId,Project,Task,OT,MealsTaken,
		Rate,HoursCodeRate,EnteredBy,EnteredDate,IsApproved,ApprovedBy,EmployeeId,PositionId,UserId,LastModifiedDate,TimeCardId,IsDeleted)
		select CompanyCodeId,FileNumber,ActualDate,ProjectNumber,DailyHours,TimeIn,LunchOut,LunchBack,TimeOut,
		HoursCodeId,Hours,HoursCodeReasonId,EarningsCodeId,EarningsAmount,case when DepartmentId=0 then null else DepartmentId end,JobId,TempJobId,Project,Task,OT,MealsTaken,
		Rate,HoursCodeRate,EnteredBy,EnteredDate,IsApproved,ApprovedBy,EmployeeId,PositionId,UserId,LastModifiedDate,TimeCardId,IsDeleted 
		from dbo.TimeCards where TimeCardId=@TimeCardId
		if(@UpdateCount=0)
		begin
			select @UpdateCount = scope_identity()
		end

		delete  dbo.TimeCards where TimeCardId=@TimeCardId
	

		set @Count=@Count+1
end
select @UpdateCount
commit;
end try
begin catch
	Rollback;
	insert into ErrLog select Error_Message()
end catch
