USE [ExecViewHrkClientTemplate]
GO
/****** Object:  Table [dbo].[TimeOffRequests]    Script Date: 2/16/2018 12:11:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffRequests](
	[TimeOffRequestId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCodeId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[HoursCodeId] [int] NOT NULL,
	[TimeOffDate] [smalldatetime] NOT NULL,
	[TimeOfftHours] [decimal](18, 2) NULL,
	[RequestStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_TimeOffRequests] PRIMARY KEY CLUSTERED 
(
	[TimeOffRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_TimeOffRequests] UNIQUE NONCLUSTERED 
(
	[CompanyCodeId] ASC,
	[EmployeeId] ASC,
	[TimeOffDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TimeOffRequests] ADD  CONSTRAINT [DF_vTimeOffRequests_Status]  DEFAULT ((0)) FOR [RequestStatus]
GO
ALTER TABLE [dbo].[TimeOffRequests]  WITH CHECK ADD  CONSTRAINT [FK_TimeOffRequests_CompanyCodes] FOREIGN KEY([CompanyCodeId])
REFERENCES [dbo].[CompanyCodes] ([CompanyCodeId])
GO
ALTER TABLE [dbo].[TimeOffRequests] CHECK CONSTRAINT [FK_TimeOffRequests_CompanyCodes]
GO
ALTER TABLE [dbo].[TimeOffRequests]  WITH CHECK ADD  CONSTRAINT [FK_TimeOffRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[TimeOffRequests] CHECK CONSTRAINT [FK_TimeOffRequests_Employees]
GO
ALTER TABLE [dbo].[TimeOffRequests]  WITH CHECK ADD  CONSTRAINT [FK_TimeOffRequests_HoursCodes] FOREIGN KEY([HoursCodeId])
REFERENCES [dbo].[HoursCodes] ([HoursCodeId])
GO
ALTER TABLE [dbo].[TimeOffRequests] CHECK CONSTRAINT [FK_TimeOffRequests_HoursCodes]
GO
