USE [DUBlankDB]
GO
/****** Object:  Table [dbo].[TimeCardNotes]    Script Date: 2/22/2018 4:22:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeCardNotes](
	[TimeCardsNotesId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCodeId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FileNumber] [nvarchar](10) NOT NULL,
	[ActualDate] [smalldatetime] NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_TimeCardNotes] PRIMARY KEY CLUSTERED 
(
	[TimeCardsNotesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TimeCardNotes]  WITH CHECK ADD  CONSTRAINT [FK_TimeCardNotes_CompanyCodes] FOREIGN KEY([CompanyCodeId])
REFERENCES [dbo].[CompanyCodes] ([CompanyCodeId])
GO
ALTER TABLE [dbo].[TimeCardNotes] CHECK CONSTRAINT [FK_TimeCardNotes_CompanyCodes]
GO
ALTER TABLE [dbo].[TimeCardNotes]  WITH CHECK ADD  CONSTRAINT [FK_TimecardNotes_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[TimeCardNotes] CHECK CONSTRAINT [FK_TimecardNotes_EmployeeId]
GO
