USE [ExecViewHrkClientTemplate]
GO
/****** Object:  Table [dbo].[EmployeesAllowedTakens]    Script Date: 2/16/2018 12:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesAllowedTakens](
	[EmployeesAllowedTakenId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCodeId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FileNumber] [nvarchar](100) NULL,
	[TypeId] [int] NOT NULL,
	[Allowed] [decimal](18, 2) NULL,
	[Taken] [decimal](18, 2) NULL,
	[Remainder] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Employee__88CD4FA15505BA39] PRIMARY KEY CLUSTERED 
(
	[EmployeesAllowedTakenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[EmployeesAllowedTakens]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesAllowedTakenId_HoursCodeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[HoursCodes] ([HoursCodeId])
GO
ALTER TABLE [dbo].[EmployeesAllowedTakens] CHECK CONSTRAINT [FK_EmployeesAllowedTakenId_HoursCodeId]
GO
