USE [DUBlankDB]
GO
/****** Object:  Table [dbo].[TimeCardDisplayColumns]    Script Date: 2/15/2018 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeCardDisplayColumns](
	[TimeCardTypeId] [int] NOT NULL,
	[Day] [bit] NOT NULL,
	[ActualDate] [bit] NOT NULL,
	[DailyHours] [bit] NOT NULL,
	[HoursCodeId] [bit] NOT NULL,
	[Hours] [bit] NOT NULL,
	[EarningsCodeId] [bit] NOT NULL,
	[EarningsAmount] [bit] NOT NULL,
	[TempDeptId] [bit] NOT NULL,
	[TempJobId] [bit] NOT NULL,
	[TimeIn] [bit] NOT NULL,
	[TimeOut] [bit] NOT NULL,
	[LunchOut] [bit] NOT NULL,
	[LunchBack] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[ApprovedBy] [bit] NOT NULL,
	[AutoFill] [bit] NOT NULL,
	[Total] [bit] NOT NULL,
 CONSTRAINT [PK_TimeCardDisplayColumns] PRIMARY KEY CLUSTERED 
(
	[TimeCardTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [Day]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [ActualDate]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [DailyHours]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [HoursCodeId]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [Hours]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [EarningsCodeId]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [EarningsAmount]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [TempDeptId]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [TempJobId]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [TimeIn]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [TimeOut]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [LunchOut]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [LunchBack]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [ApprovedBy]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((0)) FOR [AutoFill]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] ADD  DEFAULT ((1)) FOR [Total]
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns]  WITH CHECK ADD  CONSTRAINT [FK_TimeCardDisplayColumns_DdlTimeCardTypes] FOREIGN KEY([TimeCardTypeId])
REFERENCES [dbo].[DdlTimeCardTypes] ([TimeCardTypeId])
GO
ALTER TABLE [dbo].[TimeCardDisplayColumns] CHECK CONSTRAINT [FK_TimeCardDisplayColumns_DdlTimeCardTypes]
GO
