USE [DUBlankDB]
GO
/****** Object:  Table [dbo].[ManagerDepartments]    Script Date: 2/15/2018 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerDepartments](
	[ManagerDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_ManagerDepartments] PRIMARY KEY CLUSTERED 
(
	[ManagerDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_ManagerDepartments] UNIQUE NONCLUSTERED 
(
	[ManagerId] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ManagerDepartments]  WITH CHECK ADD  CONSTRAINT [FK_ManagerDepartments_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[ManagerDepartments] CHECK CONSTRAINT [FK_ManagerDepartments_Departments]
GO
ALTER TABLE [dbo].[ManagerDepartments]  WITH CHECK ADD  CONSTRAINT [FK_ManagerDepartments_Managers] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Managers] ([ManagerId])
GO
ALTER TABLE [dbo].[ManagerDepartments] CHECK CONSTRAINT [FK_ManagerDepartments_Managers]
GO
