USE [DUBlankDB]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2/15/2018 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCodeId] [int] NOT NULL,
	[DepartmentDescription] [varchar](50) NOT NULL,
	[DepartmentCode] [varchar](10) NOT NULL,
	[IsDepartmentActive] [bit] NOT NULL,
 CONSTRAINT [PK_vDepartments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_vDepartments_Active]  DEFAULT ((1)) FOR [IsDepartmentActive]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_CompanyCodes] FOREIGN KEY([CompanyCodeId])
REFERENCES [dbo].[CompanyCodes] ([CompanyCodeId])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_CompanyCodes]
GO
