
Create trigger [dbo].[TimeCards_trigger]
on [dbo].[TimeCards]
after UPDATE, INSERT, DELETE
as
declare @TimeCardId int,@user varchar(20), @activity varchar(20);
if exists(SELECT * from inserted) and exists (SELECT * from deleted)
begin
    SET @activity = 'UPDATE';
    SELECT @user = UserId from inserted i;
    SELECT @TimeCardId = TimeCardId from inserted i;
    INSERT into TimeCardsAudit(TimeCardId,OperationName, UserId) values (@TimeCardId,@activity,@user);
end

If exists (Select * from inserted) and not exists(Select * from deleted)
begin
    SET @activity = 'INSERT';
    SELECT @user = UserId from inserted i;
    SELECT @TimeCardId = TimeCardId from inserted i;
    INSERT into TimeCardsAudit(TimeCardId,OperationName, UserId) values(@TimeCardId,@activity,@user);
end

If exists(select * from deleted) and not exists(Select * from inserted)
begin 
    SET @activity = 'DELETE';
    SELECT @user = UserId from deleted i;
    SELECT @TimeCardId = TimeCardId from deleted i;
    INSERT into TimeCardsAudit(TimeCardId,OperationName, UserId) values(@TimeCardId,@activity,@user);
end