
ALTER trigger [dbo].[TimeCards_Audittrigger]
on [dbo].[TimeCards]
after UPDATE, INSERT, DELETE
as
declare  @activity varchar(20), @auditRecType varchar(20);
if exists(SELECT * from inserted) and exists (SELECT * from deleted)
begin
    SET @activity = 'UPDATE';
	SET @auditRecType = 'NEW';
    INSERT into TimeCardsAudits(
TimeCardId,
CompanyCodeId,
EmployeeId,
ActualDate,
ProjectNumber,
DailyHours,
HoursCodeId,
Hours,
EarningsCodeId,
EarningsAmount,
TempDeptId,
TempJobId,
TimeIn,
TimeOut,
LunchOut,
LunchBack,
IsApproved,
ApprovedBy,
HoursCodeReasonId,
FileNumber,
Project,
Task,
OT,
MealsTaken,
Rate,
HoursCodeRate,
EnteredBy,
EnteredDate,
DepartmentId,
JobId,
FundsId,
ProjectsId,
TaskId,
PositionId,
UserId,
LastModifiedDate,
AuditUserId,
AuditType,
AuditRecType)

Select 
i.TimeCardId,
i.CompanyCodeId,
i.EmployeeId,
i.ActualDate,
i.ProjectNumber,
i.DailyHours,
i.HoursCodeId,
i.Hours,
i.EarningsCodeId,
i.EarningsAmount,
i.TempDeptId,
i.TempJobId,
i.TimeIn,
i.TimeOut,
i.LunchOut,
i.LunchBack,
i.IsApproved,
i.ApprovedBy,
i.HoursCodeReasonId,
i.FileNumber,
i.Project,
i.Task,
i.OT,
i.MealsTaken,
i.Rate,
i.HoursCodeRate,
i.EnteredBy,
i.EnteredDate,
i.DepartmentId,
i.JobId,
i.FundsId,
i.ProjectsId,
i.TaskId,
i.PositionId,
i.UserId,
i.LastModifiedDate,
i.UserId,
@activity,
@auditRecType
FROM inserted i 
end

If exists (Select * from inserted) and not exists(Select * from deleted)
begin
    SET @activity = 'INSERT';
    SET @auditRecType = '';
    INSERT into TimeCardsAudits(
TimeCardId,
CompanyCodeId,
EmployeeId,
ActualDate,
ProjectNumber,
DailyHours,
HoursCodeId,
Hours,
EarningsCodeId,
EarningsAmount,
TempDeptId,
TempJobId,
TimeIn,
TimeOut,
LunchOut,
LunchBack,
IsApproved,
ApprovedBy,
HoursCodeReasonId,
FileNumber,
Project,
Task,
OT,
MealsTaken,
Rate,
HoursCodeRate,
EnteredBy,
EnteredDate,
DepartmentId,
JobId,
FundsId,
ProjectsId,
TaskId,
PositionId,
UserId,
LastModifiedDate,
AuditUserId,
AuditType,
AuditRecType)

Select 
i.TimeCardId,
i.CompanyCodeId,
i.EmployeeId,
i.ActualDate,
i.ProjectNumber,
i.DailyHours,
i.HoursCodeId,
i.Hours,
i.EarningsCodeId,
i.EarningsAmount,
i.TempDeptId,
i.TempJobId,
i.TimeIn,
i.TimeOut,
i.LunchOut,
i.LunchBack,
i.IsApproved,
i.ApprovedBy,
i.HoursCodeReasonId,
i.FileNumber,
i.Project,
i.Task,
i.OT,
i.MealsTaken,
i.Rate,
i.HoursCodeRate,
i.EnteredBy,
i.EnteredDate,
i.DepartmentId,
i.JobId,
i.FundsId,
i.ProjectsId,
i.TaskId,
i.PositionId,
i.UserId,
i.LastModifiedDate,
i.UserId,
@activity,
@auditRecType
FROM inserted i
end

If exists(select * from deleted) and not exists(Select * from inserted)
begin 
    SET @activity = 'DELETE';
    SET @auditRecType = '';
    INSERT into TimeCardsAudits(
TimeCardId,
CompanyCodeId,
EmployeeId,
ActualDate,
ProjectNumber,
DailyHours,
HoursCodeId,
Hours,
EarningsCodeId,
EarningsAmount,
TempDeptId,
TempJobId,
TimeIn,
TimeOut,
LunchOut,
LunchBack,
IsApproved,
ApprovedBy,
HoursCodeReasonId,
FileNumber,
Project,
Task,
OT,
MealsTaken,
Rate,
HoursCodeRate,
EnteredBy,
EnteredDate,
DepartmentId,
JobId,
FundsId,
ProjectsId,
TaskId,
PositionId,
UserId,
LastModifiedDate,
AuditUserId,
AuditType,
AuditRecType)

Select 
d.TimeCardId,
d.CompanyCodeId,
d.EmployeeId,
d.ActualDate,
d.ProjectNumber,
d.DailyHours,
d.HoursCodeId,
d.Hours,
d.EarningsCodeId,
d.EarningsAmount,
d.TempDeptId,
d.TempJobId,
d.TimeIn,
d.TimeOut,
d.LunchOut,
d.LunchBack,
d.IsApproved,
d.ApprovedBy,
d.HoursCodeReasonId,
d.FileNumber,
d.Project,
d.Task,
d.OT,
d.MealsTaken,
d.Rate,
d.HoursCodeRate,
d.EnteredBy,
d.EnteredDate,
d.DepartmentId,
d.JobId,
d.FundsId,
d.ProjectsId,
d.TaskId,
d.PositionId,
d.UserId,
d.LastModifiedDate,
d.UserId,
@activity,
@auditRecType
FROM deleted d
end