USE [DUBlankDB_ForNewImport318New]
GO
/****** Object:  StoredProcedure [dbo].[USP_RESET_DATA]    Script Date: 7/9/2019 12:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_RESET_DATA]
as begin 
select * from Employees where TreatyLimit is not null

select * from Treatylimithistories

insert into Treatylimithistories
(
EmployeeName
,CompanyCodeDescription
,EmployeeId
,CompanyCodeId
,TreatyLimit
,UsedAmount
,RemainingAmount
,CreatedBy
,CreatedDate
)

select 
distinct EmployeeName = lastname+', '+ firstname
 ,cc.CompanyCodeDescription
 ,Employees.EmployeeId
 ,Employees.CompanyCodeId  
,TreatyLimit
,UsedAmount
,Amount
,Employees.ModifiedBy
,Getdate()
from Employees 
inner join Persons on Persons.personID = Employees.PersonId
inner join CompanyCodes cc on cc.CompanyCodeId=Employees.CompanyCodeId 
where TreatyLimit is not null

UPDATE Employees SET
TreatyLimit= Null,UsedAmount = Null,Amount=Null 
where TreatyLimit is not null 

end




