USE [DUBlankDB_ForNewImport318New]
GO
/****** Object:  StoredProcedure [dbo].[uspPositionReportNoBudgetYear]    Script Date: 11/23/2018 2:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[uspPositionReportNoBudgetYear]
as 
/*
	Changes
	Date		Author		Ticket		Details
	20-Aug-18	Chandu		DU-2661		Add suffix to PositionCode and proc format changes
*/   
set nocount on;       
select 
	PositionCode = positions.PositionCode+isnull(positions.Suffix,'00'),
	positionTitle = positions.Title,    
	BuTitle = PositionBusinessLevels.BusinessLevelTitle, 
	BuCode = PositionBusinessLevels.BusinessLevelCode, 
	jobCode = jobs.JobCode, 
	JobTitle =jobs.title,
	EmployeeName = lastname+', '+ firstname,
	cc.CompanyCodeDescription, 
	employees.FileNumber, 
	[Status] = ddlEmploymentStatuses.code,
	E_Positions.PrimaryPosition, 
	E_Positions.StartDate, 
	E_Positions.actualEndDate,
	PayFrequencyCode = DdlPayFrequencies.Code, 
	E_Positions.EnteredDate, 
	epsh.PayRate, 
	epsh.EffectiveDate,
	epsh.AnnualSalary
from 
	dbo.Positions  
	inner join dbo.PositionBusinessLevels on PositionBusinessLevels.BusinessLevelNbr = positions.BusinessLevelNbr  
	inner join dbo.jobs on jobs.JobId = positions.jobID   
	inner join dbo.E_Positions on E_Positions.PositionId = Positions.PositionId  
	inner join dbo.Employees on employees.EmployeeId = E_Positions.EmployeeId  
	inner join dbo.Persons on persons.PersonId = employees.PersonId
	inner join CompanyCodes cc on cc.CompanyCodeId=employees.CompanyCodeId  
	left join dbo.ddlEmploymentStatuses on ddlEmploymentStatuses.EmploymentStatusId = employees.EmploymentStatusId  
	left join dbo.E_PositionSalaryHistories epsh on epsh.E_PositionId = E_Positions.E_PositionId 
	left join dbo.DdlPayFrequencies on DdlPayFrequencies.PayFrequencyId = E_Positions.PayFrequencyId
order by 
	Positions.Code  
