@{
    ViewBag.Title = "Benefit Plan Details";
    Layout = "~/Views/Shared/_MatrixBlockHeader2.cshtml";
}


@section TitleSectionOfHeader2
{
    <label>Benefit Plan Details</label>
}

@*Body*@
<div>
    <h3>Under Development</h3>
</div>
