@{
    ViewBag.Title = "Person Phone Number List";
    Layout = null;

    string alert = "";
    if (ViewBag.AlertMessage != null)
    {
        alert = (string)ViewBag.AlertMessage;
    }
}
<div class="card p-15">
    <div class="card-header">
        <h5 class="card-header-text">Person Phone Number</h5>
    </div>
    <div class="card-block">
        <div class="row p-t-15">
            <div class="col-lg-12 col-md-12">
                @*@Html.Action("PersonRoloDex", "Person")*@
                <div class="col-lg-12 col-md-12 p-0">
                        <div class="col-md-9 p-0">
                            <button type="button" class="btn btn-primary waves-effect waves-light b-radius-2 text-tranform-normal myButton" onclick="addPersonPhoneNumber()">
                                <i class="fa fa-plus"></i><span class="m-l-10">Add New Record</span>
                            </button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 p-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="theme-grid">
                                @(Html.Kendo().Grid<ExecViewHrk.Models.PersonPhoneNumberVm>
                                    ()
                                    .Name("gridPhoneNumberList")
                                    .Resizable(resize => resize.Columns(true))
                                    .Filterable()
                                    .Columns(columns =>
                                    {
                                        columns.Command(command =>
                                        {
                                            command.Custom("gridEditCommand").Text("<i class='fa fa-pencil txt-primary f-18'></i>").Click("onClickPhoneList");
                                            command.Custom("gridDeleteCommand").Text("<i class='fa fa-trash-o m-0 txt-danger f-18'></i>").Click("onClickDeleteList");
                                        }).Width(70);
                                        columns.Bound(c => c.PersonId).Visible(false);
                                        columns.Bound(c => c.PhoneTypeDescription).Title("Phone Number Type");
                                        columns.Bound(c => c.PhoneNumber).Title("Phone Number");
                                        columns.Bound(c => c.Extension).Title("Extension");
                                        columns.Bound(c => c.IsPrimaryPhone).ClientTemplate("#= IsPrimaryPhone ? 'Yes' : 'No' #");
                                        columns.Bound(c => c.ProviderName).Title("Provider Name");
                                    })
                                    .Sortable()
                                    .Selectable()
                                    .Pageable(pageable => pageable.Refresh(false).PageSizes(true))
                                    .Events(e => e.DataBound("gridDataBound"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .Read(read => read.Action("PersonPhoneNumbersList_Read", "PersonPhoneNumbers"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.PersonId);
                                        model.Field(p => p.PersonId);
                                        model.Id(p => p.PersonPhoneNumberId);
                                        model.Field(p => p.PersonPhoneNumberId);
                                        model.Field(p => p.PhoneTypeDescription);
                                        model.Field(p => p.PhoneNumber);
                                        model.Field(p => p.Extension);
                                        model.Field(p => p.IsPrimaryPhone);
                                        model.Field(p => p.ProviderName);
                                    }
                                    )
                                    .PageSize(10)
                                    .Batch(false)
                                    .Events(events =>
                                    {
                                        events.Error("refreshGrid");
                                        events.RequestEnd("gridRequestEnd");
                                    })
                                    )
                                    )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="p-15 text-right">
    <button type="button" class="btn btn-default waves-effect md-close m-r-15">Close</button>
</div>
<script>
    $(document).ready(function () {
        pageSetup();
        loading(false);
    });
</script>