<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
  <mailSettings>
      <smtp>
        <network host="smtp.office365.com" password="Np739302*" port="587" userName="No-Reply@Resnav.com" enableSsl="true"/>
      </smtp>
</mailSettings>
  </system.net>
  <connectionStrings>   
  <add name="execViewDb"
    providerName="System.Data.SqlClient"
    connectionString="Server=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=DUBlankDB;Persist Security Info=False;User ID=piltdEast01;Password=foot!@Ball1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <!--<add name="execViewDb" connectionString="Server=webhris.priyanets.com;initial catalog=DuBlankDBDev;User Id=hr; Password=hr; MultipleActiveResultSets=True"/>-->
  </connectionStrings>
  <appSettings>      
    <add key="ClientID" value="DrewUniversity" />
    <add key="appRoot" value="D:\home\site\wwwroot" />
    <!--<add key="ImportLocationStaging" value="/Home/DrewUniversityStaging" />
    <add key="ImportSubFolderStaging" value="\ImportCsv\DrewUniversityStaging" />-->
    <add key="ImportLocationProduction" value="/Home/DrewUniversity" />
    <add key="ImportSubFolderProduction" value="\ImportCsv\DrewUniversity" />
    <add key="fromAddress" value="No-Reply@Resnav.com" />
    <add key="toAddress" value="nick@resnav.com" />
    <add key="toAddressTwo" value="dylan@resnav.com" />
    <add key="toAddressThree" value="saurabh_kumar@priyanet.com" />
    <add key="toAddressFour" value="hitesh-nirmal@priyanet.com" />
    <add key="toAddressFive" value="samirpatel@priyanet.com" />
    <add key="toAddWhenNoFileAttached" value="cdarrell@drew.edu"/>
    <add key="ExecViewSystemEmail" value="WebtimeAdmin@resnav.com" />
    <add key="RespondToEmail" value="mailto:drizzo@.resnav.com" />
    <add key="TestEmail" value="drizzo@dprtechnology.com" />
    <add key="UseTestEmail" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Hosting" value="Production"/>
    <!-- Hosting Value Should be either Staging/Production -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>