

@if (Request.IsAuthenticated && User.IsInRole("HrkAdministrators") || Request.IsAuthenticated && User.IsInRole("EmployerAdmin"))
{
    Layout = "~/Views/Shared/_HrkAdminLayout.cshtml";
}
else if (Request.IsAuthenticated && User.IsInRole("HrkAccountManagers"))
{
    Layout = "~/Views/Shared/_HrkAdminLayout.cshtml";
}
else if (Request.IsAuthenticated && User.IsInRole("ClientAdminsMultipleCompanies"))
{
    Layout = "~/Views/Shared/_HrkAdminLayout.cshtml";
}
else if (Request.IsAuthenticated && User.IsInRole("ExternalUserAdmins"))
{
    Layout = "~/Views/Shared/_HrkAdminLayout.cshtml";
}
else if (Request.IsAuthenticated && User.IsInRole("ClientEmployees"))
{
    //Layout = "~/Views/Shared/_EmployeesLayout.cshtml";
    Layout = "~/Views/Shared/_HrkAdminLayout.cshtml";
}
else if (Request.IsAuthenticated && User.IsInRole("ClientAdministrators"))
{
    Layout = "~/Views/Shared/_ClientAdminLayout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Passsword change</h3>
<p>Your password has been successfully changed.</p>

