@{
    ViewBag.Title = "Hospital List Maintenance";
    Layout = "~/Views/Shared/_MatrixBlockHeader2.cshtml";
}


@section TitleSectionOfHeader2
{
    <label>Hospital List Maintenance</label>
}

@*Body*@
@Html.Partial("DdlHospitalsPartial", "DdlApplicantSources")
