<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://execviewdrewuniversity.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>execviewdrewuniversity.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ExecViewDrewUniversity</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$ExecViewDrewUniversity</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ExecViewHrk.EfAdmin.AdminDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User ID=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball" Name="Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExecViewHrk.EfAdmin.AdminDbContext, ExecViewHrk.EfAdmin" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExecViewHrk.EfClient.ClientDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User ID=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball" Name="Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExecViewHrk.EfClient.ClientDbContext, ExecViewHrk.EfClient" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdminDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User ID=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball" Name="Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExecViewHrk.WebUI.Infrastructure.AppIdentityDbContext, ExecViewHrk.WebUI" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AdminDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExecViewHrk.EfClient.ClientDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExecViewHrk.EfAdmin.AdminDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AdminDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExecViewHrk.EfClient.ClientDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExecViewHrk.EfAdmin.AdminDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AdminDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExecViewHrk.EfClient.ClientDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExecViewHrk.EfAdmin.AdminDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverpiltdeastus01.database.windows.net,1433;Initial Catalog=ExecViewDrewUniversity;User Id=null@sqlserverpiltdeastus01.database.windows.net;Password=base!@Ball</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AdminDbContext" />
    <_ConnectionStringsToInsert Include="ExecViewHrk.EfAdmin.AdminDbContext" />
    <_ConnectionStringsToInsert Include="ExecViewHrk.EfClient.ClientDbContext" />
  </ItemGroup>
</Project>