@model ExecViewHrk.EfClient.DdlMaritalStatus
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Add Marital Status</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form id="frmMaritalStatus">
            <div class="col-sm-12">
                <div class="form-group">
                    <label><span style="color:red">*</span>Code</label>
                    @Html.TextBoxFor(x => x.Code, new { @class = "form-control", data_required = "Y" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label><span style="color:red">*</span>Description</label>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", data_required = "Y" })
                </div>
            </div>
            @Html.HiddenFor(x => x.Active)
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect m-r-15" data-dismiss="modal" id="btnCloseMaritalStatus">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light " id="btnSaveMaritalStatus">Save</button>
</div>
<script>
    $("#btnSaveMaritalStatus").click(function (e) {
        e.preventDefault();

        if (!ValidateForm("frmMaritalStatus")) {
            loading(false);
            return;
        }

        var postData = $("#frmMaritalStatus").serializeArray();
        var formURL = $("#ApplicationUrl").val() + "LookupTables/DdlMaritalStatusList_Create";
        $.post(formURL, postData, function (data, status) {
            if (data.Errors != null) {
                toastr.error(data.Errors[""].errors[0]);
            }
            else {
                reloadMaritalStatusDropDown();
                $("#btnCloseMaritalStatus").trigger('click');
            }
        });
    });
    function reloadMaritalStatusDropDown() {
        var _selectedValue = $("#MaritalStatusID").val();
        $.get($("#appBaseUrl").val() + "LookupTables/GetDdlMaritalStatusList", function (data, status) {
            var list = data;
            if (list.length > 0) {
                $("#MaritalStatusID").empty();
                $("#MaritalStatusID").append("<option value=''>Select</option>");
                for (var i = 0; i < list.length; i++) {
                    if (list[i].keyvalue == _selectedValue) {
                        $("#MaritalStatusID").append("<option value='" + list[i].MaritalStatusId + "' selected >" + list[i].Description + "</option>");
                    } else {
                        $("#MaritalStatusID").append("<option value='" + list[i].MaritalStatusId + "' >" + list[i].Description + "</option>");
                    }


                }
            }
        });
    }
</script>