@model ExecViewHrk.EfClient.DdlState
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Add State</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form id="frmdlState">
            <div class="col-sm-12">
                <div class="form-group">
                    <label><span style="color:red">*</span>Code</label>
                    @Html.TextBoxFor(x => x.Code, new { @class = "form-control", data_required = "Y" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label><span style="color:red">*</span>Description</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", data_required = "Y" })
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect m-r-15" data-dismiss="modal" id="btnCloseState">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light " id="btnSaveState">Save</button>
</div>
<script>
    $("#btnSaveState").click(function (e) {
        e.preventDefault();
        if (!ValidateForm("frmdlState")) {
            loading(false);
            return;
        }
        var postData = $("#frmdlState").serializeArray();
        var formURL = $("#ApplicationUrl").val() + "LookupTables/DdlAddState_Create";
        $.post(formURL, postData, function (data, status) {
            if (status == "success") {
                //formService.isSavingInProgress = false;
                toastr.success("Record has been Saved");
            }
            if (data.Errors != null) {
                toastr.error(data.Errors[""].errors[0]);
            }
            else {
                reloadStateDropDown();
                $("#btnCloseState").trigger('click');
            }
        });
    });
    function reloadStateDropDown() {
        var _selectedValue = $("#StateId").val();
        $.get($("#appBaseUrl").val() + "LookupTables/GetDdlStateList", function (data, status) {
            var list = data;
            if (list.length > 0) {
                $("#StateId").empty();
                $("#StateId").append("<option value=''>Select</option>");
                for (var i = 0; i < list.length; i++) {
                    if (list[i].keyvalue == _selectedValue) {
                        $("#StateId").append("<option value='" + list[i].StateId + "' selected >" + list[i].Title + "</option>");
                    } else {
                        $("#StateId").append("<option value='" + list[i].StateId + "' >" + list[i].Title + "</option>");
                    }


                }
            }
        });
    }
</script>