
@{
    ViewBag.Title = "Fund Code";
    Layout = null;
}

<div class="container-fluid">
    <div class="row p-t-15">
        <div class="col-lg-12 col-md-12">
            <div class="main-header col-sm-12 p-0 m-b-0">
                <div class="col-md-9 m-b-15 p-0">
                    <h4>Fund Code<span class="pull-right icon-edit-block m-l-30"><i class="fa fa-question-circle f-26 m-r-10"></i> <i class="fa fa-expand f-24" onclick="javascript:toggleFullScreen()"></i></span></h4>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 p-0">
                <div class="card-block p-10 m-b-10 b-b-muted b-t-muted">
                    <div class="col-md-9 p-0">
                        <button type="button" onclick="gridAddFundCode()" class="btn btn-primary waves-effect waves-light b-radius-2 text-tranform-normal myButton">
                            <i class="fa fa-plus"></i><span class="m-l-10">Add New Record</span>
                        </button>
                    </div>
                    <div class="col-md-3 pull-right text-right">
                        <div class="form-group row m-b-0">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        @Html.Partial("FundCodePartial", "LookupTables")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
