
@{
    ViewBag.Title = "I9Document Types List Maintenance";
    Layout = "~/Views/Shared/_MatrixBlockHeader2.cshtml";
}

@section TitleSectionOfHeader2
{
    <label>I9Document Types List Maintenance</label>
}

@*Body*@
@Html.Partial("DdlI9DocumentTypesPartial", "DdlI9DocumentTypes")