@{
    ViewBag.Title = "Applicant Source List Maintenance";
    Layout = "~/Views/Shared/_MatrixBlockHeader2.cshtml";
}


@section TitleSectionOfHeader2
{
    <label>Applicant Source List Maintenance</label>
}

@*Body*@
@Html.Partial("DdlApplicantSourcesPartial", "DdlApplicantSources")
