<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.office365.com" password="Np739302*" port="587" userName="hitesh.nirmal@gmail.com" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="AdminDbContext" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-BGRQ1SH;initial catalog=DUBlankDB;User Id=hitesh2022; Password=sa!2022; MultipleActiveResultSets=True" />
    <add name="execView1" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-BGRQ1SH;initial catalog=DUBlankDB;User Id=hitesh2022; Password=sa!2022; MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="FromEmailAddressTraining" value="hitesh.nirmal@gmail.com"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="owin:AppStartup" value="ExecViewHrk.WebUI.App_Start.IdentityConfig"/>
    <add key="UserLockoutEnabledByDefault" value="true"/>
    <add key="DefaultAccountLockoutTimeSpan" value="15"/>
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="3"/>
    <add key="PasswordExpirationDays" value="30"/>
    <add key="appRoot" value="D:\home\site\wwwroot"/>
    <add key="fromAddress" value="hitesh.nirmal@gmail.com"/>
    <add key="toAddress" value="hitesh.nirmal@gmail.com"/>
    <add key="toAddressTwo" value="hitesh.nirmal@gmail.com"/>
    <add key="ClientID" value="DrewUniversity"/>
    <add key="TimeZone" value="Eastern Standard Time"/>
    <!-- Do Not Change -->
    <add key="ApiBaseUrl" value="http://localhost/ExecViewHrkAPI/api/"/>
    <add key="TreatyTime" value="75"/>
    <add key="Hosting" value="Production"/>
    <add key="AdminPassword" value="resnav"/>
    <!-- Hosting Value Should be either Staging/Production -->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" executionTimeout="500"/>
    <sessionState mode="InProc" timeout="20"/>
    <customErrors mode="On" defaultRedirect="Error"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 628CBDBE-B180-401A-A27D-60B3B7D1CD9B-->