
@{
    ViewBag.Title = "Benefit Groups";
    Layout = "~/Views/Shared/_MatrixBlockHeader2.cshtml";
}


@section TitleSectionOfHeader2
{
    <label>Benefit Groups</label>
}
           
@*Body*@
<div class="row ">
    <div class="col-md-12">

        <div class="form-group ">

            @(Html.Kendo().Grid<ExecViewHrk.EfClient.BenefitGroup>()
                        .Name("gridBenefitGroup")
                        .Resizable(resize => resize.Columns(true))
                        .Filterable()
                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                        .ToolBar(toolbar => toolbar.Create())

                        .Columns(columns =>
                        {
                            columns.Command(command => { command.Edit(); command.Custom("gridDeleteCommand").Text("<span class='k-icon k-delete'></span> Delete").Click("gridDelete");  }).Width(170);
                            columns.Bound(c => c.BenefitGroupId).Title("Id").Hidden();
                            columns.ForeignKey(c => c.CompanyCodeId, (System.Collections.IEnumerable)ViewData["companycodesList"], "CompanyCodeId", "CompanyCodeDescription")
                            .Title("Company Code").Width(150);
                            columns.Bound(c => c.BenefitGroupCode).Title("Code").Width(100);
                            columns.Bound(c => c.BenefitGroupDescription).Title("Description").Width(150);
                            columns.Bound(c => c.DeductionCode).Title("ADP Deduction Code").Width(150);
                            columns.Bound(c => c.DisplayPosition).Title("Display Position").Width(150);
                            columns.Bound(c => c.CanBeDeclined).ClientTemplate("#= CanBeDeclined ? 'yes' : 'no' #").Title("Can Be Declined").Width(150);
                            columns.Bound(c => c.ScheduleGroup).Title("Schedule Group").Width(150);
                        })
                        .HtmlAttributes(new { style = "height: 480px;" })

                        .Scrollable()
                        .Groupable()
                        .Sortable()
                        .Selectable()

                        .Pageable(pageable => pageable
                            .Refresh(false)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .DataSource(dataSource => dataSource
                            .Ajax()


                        .Read(read => read.Action("BenefitGroupsList_Read", "BenefitGroups"))
                        .Create(create => create.Action("BenefitGroupsList_Create", "BenefitGroups"))
                        .Update(update => update.Action("BenefitGroupsList_Update", "BenefitGroups"))
                        .Destroy(destroy => destroy.Action("BenefitGroupsList_Destroy", "BenefitGroups"))
                        .Model(model =>
                        {
                            model.Id(p => p.BenefitGroupId);
                            model.Field(p => p.BenefitGroupId).Editable(false);
                            model.Field(p => p.CompanyCodeId);
                            model.Field(p => p.BenefitGroupCode);
                            model.Field(p => p.BenefitGroupDescription);
                            model.Field(p => p.DeductionCode);
                            model.Field(p => p.DisplayPosition);
                            model.Field(p => p.CanBeDeclined);
                            model.Field(p => p.ScheduleGroup);
                        }
                                )
                        .Batch(false)
                        .Events(events =>
                        {
                            events.Error("refreshGrid");
                            events.RequestEnd("gridRequestEnd");
                        })
                            )
            )

            @*<div>
                @Html.ValidationMessageFor(model => model.BenefitGroupId)
            </div>*@
        </div>
    </div>

</div>

    

<script type="text/javascript">
    $(".k-grid-add").click(function () {
        setTimeout(function () {
            $('a[class*="k-grid-update"]').html('<span class="k-icon k-update"></span>Create');
        }, 1)
    });
      
</script>



