body {
}

h2{
    color: rgb(33, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    /*background-color: rgb(226, 197, 136);*/ 
    padding: 0.25em 0 0 0;
    /*padding: 5px;*/
    /*width: 800px;*/
    margin: auto;
    /*min-height: 600px;*/
}

#ListHeader{
    background-color: rgb(226, 197, 136);
    padding: 5px;
    width: 800px;
    margin: auto;
}
