
.ui-dialog .ui-dialog-titlebar {
    font-size: 18px;
    border-radius: 0 !important;
}
.ui-widget-header {
    border: 0;
}
.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 300px;
    overflow: hidden;
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 0;
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3);
    outline: medium none;
    z-index: 1050;
}



.ui-widget-header {
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.ui-dialog .ui-dialog-title {
    padding: 7px 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -20px 0 0 0;
    padding: 1px;
    height: 18px;
    font-size: 20px;
    font-weight: 700;
    line-height: 13.5px;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=25);
    -khtml-opacity: .25;
    -moz-opacity: .25;
    opacity: .25;
    background: 0 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


    .ui-dialog .ui-dialog-titlebar-close:focus, .ui-dialog .ui-dialog-titlebar-close:hover {
        padding: 1px;
        filter: alpha(opacity=90);
        -moz-opacity: .9;
        opacity: .9;
    }

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 1.5em 1em 0.7em 1.3em;
    background: 0 0;
    overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
    border-width: 1px 0 0;
    background-image: none;
    margin: .5em 0 0;
    background-color: #fff;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    margin-bottom: 0;
}

    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: right;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        cursor: pointer;
    }

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

    .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.ui-state-hover {
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }

.ui-dialog-buttonset .ui-button:not(:first-child) {
    cursor: pointer;
    display: inline-block;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-transition: .1s linear all;
    -moz-transition: .1s linear all;
    -o-transition: .1s linear all;
    transition: .1s linear all;
    overflow: visible;
}

    .ui-dialog-buttonset .ui-button:not(:first-child) .ui-state-hover {
        color: #333;
        background-color: #ebebeb;
        border-color: #adadad;
        text-decoration: none;
    }

.ui-dialog-buttonset .ui-button.ui-button-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

    .ui-dialog-buttonset .ui-button.ui-button-info.ui-state-hover {
        color: #fff;
        background-color: #39b3d7;
        border-color: #269abc;
    }

.ui-dialog-buttonset .ui-button.ui-button-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

    .ui-dialog-buttonset .ui-button.ui-button-success.ui-state-hover {
        color: #fff;
        background-color: #47a447;
        border-color: #398439;
    }

.ui-dialog-buttonset .ui-button.ui-button-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

    .ui-dialog-buttonset .ui-button.ui-button-warning.ui-state-hover {
        color: #fff;
        background-color: #ed9c28;
        border-color: #d58512;
    }

.ui-dialog-buttonset .ui-button.ui-button-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

    .ui-dialog-buttonset .ui-button.ui-button-danger.ui-state-hover {
        color: #fff;
        background-color: #d2322d;
        border-color: #ac2925;
    }

.ui-dialog-buttonset .ui-button.ui-button-inverse {
    color: #fff;
    background-color: #222;
    border-color: #080808;
}

    .ui-dialog-buttonset .ui-button.ui-button-inverse.ui-state-hover {
        color: #fff;
        background-color: #363636;
        border-color: #000;
    }



.ui-dialog .ui-dialog-title {
    margin: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    margin-top: -16px;
    margin-right: 4px;
}

.ui-widget-overlay {
    background: #AAA;
    opacity: .3;
}
/*.ui-widget-overlay {
    z-index: 10004 !important;
}*/

.ui-dialog {
    z-index: 999999 !important;
}

.k-window-titlebar .k-window-actions {
    padding-top: .5em;
}

.k-window-titlebar {
    padding: 10px 0;
}

.k-combobox .k-dropdown-wrap:before, .k-numeric-wrap:before, .k-picker-wrap:before {
    height: 1.9em !important;
}

.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
    height: 1.9em !important;
}


.k-datepicker {
    width: 61% !important;
}
#personSearch .k-i-arrow-s {
    display: none;
}

.modal-content {
    border-radius: 0;

}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity:1;
}

/*.input-error {
    border-color: #a90329 !important;
    background: #fff0f0 !important;
}*/
.k-calendar th, .k-dropzone-hovered, .k-footer-template td, .k-grid-footer, .k-group, .k-group-footer td,
.k-grouping-header, .k-pager-wrap, .k-toolbar, .k-widget .k-status, .k-widget.k-popup {
    /* background-color: #fff; */
    background-color: #eff6fc;
}
.EditSlideRight {
    overflow-y: auto;
}