
@{
    ViewBag.Title = "RoleAssignmentListMaintenance";
    Layout = "~/Views/Shared/_HrkAdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row p-t-15">
        <div class="col-lg-12 col-md-12">
            <div class="main-header col-sm-12 p-0 m-b-0">
                <div class="col-md-9 m-b-15 p-0">
                    <h4>User Role Assignment<span class="pull-right icon-edit-block m-l-30"><i class="fa fa-expand f-24" onclick="javascript:toggleFullScreen()"></i></span></h4>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 p-0">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="theme-grid">
                            @Html.ValidationSummary(true)
                            @(Html.Kendo().Grid<ExecViewHrk.WebUI.Models.UserRoleAssignmentViewModel>()
                  .Name("grid")
                  .Resizable(resize => resize.Columns(true))
                  .Filterable()
                  .Editable(editable => editable.Mode(GridEditMode.InLine))
                  .ToolBar(toolbar => toolbar.Create())
                  .Columns(columns =>
                  {
                      columns.Command(command =>
                      {
                          command.Edit();
                          command.Custom("gridDeleteCommand").Text("<span class='k-icon k-delete'></span> Delete").Click("gridDelete");
                      }).Width(200);
                      columns.ForeignKey(c => c.UserName, (System.Collections.IEnumerable)ViewData["usersList"], "UserName", "UserName")
                          .Title("UserName").Width(150);
                      columns.ForeignKey(c => c.RoleName, (System.Collections.IEnumerable)ViewData["rolesList"], "RoleName", "RoleName")
                          .Title("Role").Width(150);

                  })

                  .Groupable()
                  .Sortable()
                  .Selectable()
                  .Pageable(pageable => pageable
                      .Refresh(false)
                      .PageSizes(true)
                      .ButtonCount(5))
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Read(read => read.Action("UserRolesAssignmentList_Read", "HrkAdmin"))
                      .Create(create => create.Action("UserRolesAssignmentList_Create", "HrkAdmin"))
                      .Update(update => update.Action("UserRolesAssignmentList_Update", "HrkAdmin"))
                      .Destroy(destroy => destroy.Action("UserRolesAssignmentList_Destroy", "HrkAdmin"))
                      .Events(events => events.Error("error_handler").Sync("sync_handler"))
                      .Model(model =>
                      {
                          model.Id(p => p.UserName);
                          model.Field(p => p.UserName).DefaultValue("--select one--");
                          model.Field(p => p.RoleName).DefaultValue("--select one--");


                      }
                      )
                  )
                            )
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".k-grid-add").click(function () {
        setTimeout(function () {
            $('a[class*="k-grid-update"]').html('<span class="k-icon k-update"></span>Create');
        }, 1)
    });
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);

            $('#grid').data('kendoGrid').dataSource.read();
            $('#grid').data('kendoGrid').refresh();
        }
    }

    function OnChangeGrid(e) {

        alert("Grid Changed");
        $('#grid').data('kendoGrid').refresh();

    }

    // not sure this does what I think - needs more testing
    function sync_handler(e) {
        this.read();
    }

</script>